{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="contact-us-bg2">
        <div>
            <div class="container">
                <div class="row" style="padding-top: 90px;">
                    <div class="col-lg-6 col-md-12 col-12 mt-5">
                        <div class="clients">
                            <div>
                                <h1>Contact Us</h1>
                            </div>
                            <form id="contactForm"></form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 mt-5">
                        <figure><img src="/images/novagems-img/contact/contact-us.png" alt="contact-us"></figure>
                    </div>
                </div>
            </div>
            <!-- <div class="container ">
                <div class="col-lg-12 col-md-12 col-12 mx-auto mt-5 mb-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12  phone-fast">
                            <div style="border-radius: 15px;" class="Rectangle-4359">
                                <p class="Rectangle-col"><b>Canada</b></p>
                                <p style="display: flex;" class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">102-32615 South Fraser Way, Abbotsford, BC V2T 1X8</p>
                                <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: 1-844-844-0038</p>
                                <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: info@novagems.com</P>
                                <br>
                            </div>
                            <img class="Rectangle-mp" src="/images/novagems-img/canada-map-102-32615.png" alt="Canada-map">
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 phone-fast">

                            <div style="border-radius: 15px;" class="Rectangle-4359 ">
                                <p class="Rectangle-col"><b>United States</b></p>
                                <p style="display: flex;" class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">10289 San Pablo Ave El Cerrito, <br> CA 94530</p>
                                <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: 1-844-844-0038</p>
                                <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: info@novagems.com</P>
                                <br>
                            </div>
                            <img class="Rectangle-mp" src="/images/novagems-img/United States.png" alt="contact-us">
                        </div>

                        <div class="col-lg-4 col-md-4 col-12 phone-fast">

                            <div style="border-radius: 15px;" class="Rectangle-4359 ">
                                <p class="Rectangle-col"><b>India</b></p>
                                <p style="display: flex;" class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">C-203, World Tech Tower, Phase 8b, <br> Mohali</p>
                                <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: +91-77430-03441, +91-77430-03442</p>
                                <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: info@novagems.com</P>
                                <br>
                            </div>
                            <img class="Rectangle-mp" src="/images/novagems-img/india-map.png" alt="contact-us">
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 d-flex ftco-animate p-0">
                        <div style="border-radius: 15px 0px 0px 15px ;" class="Rectangle-4359">
                            <p class="Rectangle-col"><b>Canada</b></p>
                            <p style="display: flex;" class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">102-32615 South Fraser Way, Abbotsford, BC V2T 1X8</p>
                            <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: 1-844-844-0038</p>
                            <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: info@novagems.com</P>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12 d-flex ftco-animate p-0">
                        <iframe style="border-radius: 0px 15px 15px 0px ; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2614.8475548842225!2d-122.32308658761963!3d49.05152208697586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54843544b7b00001%3A0xfd9340491a934f31!2s32615%20South%20Fraser%20Way%20%23102%2C%20Abbotsford%2C%20BC%20V2T%201X8%2C%20Canada!5e0!3m2!1sen!2sin!4v1748495370937!5m2!1sen!2sin"
                            width="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>


            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 d-flex ftco-animate p-0">
                        <div style="border-radius: 15px 0px 0px 15px ;" class="Rectangle-4359">
                            <p class="Rectangle-col"><b>South Africa</b></p>
                            <p style="display: flex;" class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">76 De Waal Street, Brackendowns, Alberton, Gauteng, South Africa, 1448</p>
                            <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: +27 60-851-8931</p>
                            <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: Global@novagems.com</P>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12 d-flex ftco-animate p-0">
                        <iframe style="border-radius: 0px 15px 15px 0px ; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.9044886350944!2d28.08594377625892!3d-26.32959207699952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9504e7feabe875%3A0x974f9ab86a7ea71b!2s76%20De%20Waal%20St%2C%20Brackendowns%2C%20Alberton%2C%201454%2C%20South%20Africa!5e0!3m2!1sen!2sin!4v1769004487191!5m2!1sen!2sin"
                             width="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>

            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 d-flex ftco-animate p-0">
                        <div style="border-radius: 15px 0px 0px 15px ;" class="Rectangle-4359">
                            <p class="Rectangle-col"><b>India</b></p>
                            <p style="display: flex;" class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">World Tech Tower, Phase 8B, Industrial Area, Sector 74, Sahibzada Ajit Singh Nagar, Punjab 160055</p>
                            <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: +91 774-3003-441</p>
                            <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: contact@novagems.in</P>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12 d-flex ftco-animate p-0">
                        <iframe style="border-radius: 0px 15px 15px 0px ; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.4343673391454!2d76.68194067638464!3d30.7061869745971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5556fa2687%3A0x5973793b0fa18b88!2sWorld%20Tech%20Tower!5e0!3m2!1sen!2sin!4v1771844989211!5m2!1sen!2sin"
                             width="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
               
            </div>

            <div>

                {{- partial "resources.html" . -}}
            </div>


        </div>



        {{end}}