{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="privacy-bg2">
        <div class="container">
            <div class="row align-items-center" style="padding-top: 90px;">
                <div class="col-md-7 mx-auto">
                    <figure><img src="/images/novagems-img/privacy.svg" alt="privacy"></figure>
                </div>
            </div>
        </div>


        <div class="container ">
            <div class="row ">
                <div class="col-md-10 offset-md-1 mb-5">
                    <div>
                        <h1 class="my-3">Privacy Policy</h1>
                        <p><b>Effective Date: 12 November 2024</b></p>
                        <br>
                        <p>Novagems Inc. (referred as “us”,”we” or “novagems” in document below) assures its customers and users with the security in handling their personal information. This Privacy policy will describe on how we collect data and how this
                            private information is secured with us. This privacy policy will refer its Android, iOS & Webapp product as “Novagems” or “Novagems App” whenever necessary. This policy may refer to “users” as “owners”, “managers”, “staff”,
                            or other “role-based positions” as designated by the company owner.</p>

                        <br>
                        <p>This Privacy Policy does not extend to third party websites or services. Novagems is therefore not liable for their privacy policies, procedures and practices regarding the protection of personal information.</p>
                        <br>
                        <p>Visiting us at https://novagems.com website and using its Android, iOS & Webapp or when you contact us by mail, you accept the terms and conditions of this Privacy Policy.</p>
                        <br>
                        <p>Novagems is accessible to the general public through a subscription plan. If you would like to explore the app, please request a demo for an introductory training session.</p>
                        <br>
                        <p> 1: Our Business model with your Organisation?</p>
                        <br> Novagems has an agreement with your company, where your information is directly held by the employer, who grants users access to Novagems products by accepting the terms and conditions during the self-onboarding process when
                        creating the owner and user account. The User information sent to our servers is then used to “schedule” a “user” over a “site” and its GPS co-ordinates are used to determine the location of the user on duty at that site. User
                        model specifically depicts that company/your employer will be able to add any individual on a designated “role” in our system whose information is not directly accessible to us unless required for debugging. Assigned roles will
                        then have direct control over information of assigned site or user which will be based on “role management”. Your employer entered an agreement with us before “they” entered any information in our system.
                        <br>
                        <p> 2: The Information we collect & How we use it</p>
                        <br>
                        <p> A: Information you provide & information provided by your employer into our system A company when enters into an agreement with us provides there information (namely Company name, Address, Logo, phone no. & email) which is entered
                            into the system to start a contract with us A role-based user (staff, manager, etc) is entered into our system via Company owner/your employer and information includes concerned managers name, address, profile photo, phone
                            no. & email . We can access its information to debug or help the user to enhance the experience when a ticket is generated with us . A role-based manager also adds a site along with geofencing , address , site supervisor and
                            client’s mail and contact info. Also manager can add a user using his personal and contact details in novagems software using name, photo, address , their security licence details . A user can request to update his information
                            via the Novagems App which is entered into our system by their concerned manager.</p>
                        <br>
                        <p> B: Information Collected by novagems products (both fed by user or automatically collected) Phone: Novagems will direct the call functionality to your default phone dialer app to make outbound calls when user will click on phone
                            call action of concerned person. We do not provide VOIP service and hence this functionality was directed to handset’s dialer. There is no call recording made during this functionality and hence user is liable for any call
                            charges on their own. Location: Novagems will take your current coordinates repeatedly when you start a duty which will be updated in our system (till the end of duty or user logout of app) to ensure tracking status to your
                            concerned manager (which managers can view in Novagems app). This service uses google location services to ensure your safety to your employer. Novagems however do not send any coordinate to our server but it uses web socket
                            to fetch the track history maintained in our system related to status of the user. Camera: All novagems product need access to camera for taking pictures of person, incidents or any kind of reports to be submitted to client
                            or company. Managers and users require it for specific purposes while using different features of the novagems system. Storage: All novagems product need access to storage to upload any photo or file attachment in our system
                            from the storage as an extra option. This enables users to easily access the images in memory to be attached where ever necessary. We always crop and compress the pics in storage to keep the system fast for users</p>
                        <br>
                        <p> C: How We Use this information Novagems creates the owner account who will create users, role-based users. Users can access respective information from mobile phones via respective native Android or iOS app. Novagems app uses GPS
                            location constantly while on-duty and this information is recorded in our system to show the tracks to concerned managers and owner of the company. All the information provided by the company or user is kept under concerned
                            managers and admins of the company using encryption. Novagems may use your personal information to provide support and communicate with user regarding any app crash or any kind of assistance to the user. Most of information
                            produced is used to maintain internal records of the company. Your information is stored and processed in countries where we have facilities or where we provide services. By using this app, you consent to transfer information
                            in that country which may be different from your country. Novagems will maintain all user records in system as long as they are required by laws, regulations, or government orders</p>
                        <br>
                        <p> 3: Novagems and its logo are owned by Novagems Inc. and are protected by British Columbia Business Incorporation Law under Registration no. BC1092935</p>
                        <br>
                        <p> 4: Payment methods: Payment methods are included in Novagems app along with billing section in settings which depicts the usage over the time-period to the company. The refund policy and payment methods are written and accepted
                            by the concerned company at time of onboarding the company.</p>
                        <br>
                        <p> 5: Novagems and its products are not liable for real world mishappening on site or to the users.</p>
                        <br>
                        <p> 6: GPS is not most efficient in all the Android & iOS devices but we keep on improving the methods as available to us. We do not ensure the accuracy of coordinates of user as this is dependent on the user device.</p>
                        <br>
                        <p> 7: Right to close account without cause Novagems holds every right to close the user account (company account, manager account, user account) at any given point without notice if circumstance occurs or any violation to the contract
                            is observed between both parties</p>
                        <br>
                        <p> 8: Terms remain valid even after close of agreement with your company.</p>
                        <br>
                        <p> 9: Right to Update/Change agreement: Novagems holds full right to update this privacy policy from time to time to introduce changes in technologies we use, legal requirements or any other factors. The updation date will be mentioned
                            next to the title of this page. To revoke your access from the App, user require to connect with concerned manager in hierarchy to stop the services. If there is any major update in privacy policy, then we are obliged to intimate
                            the user by mail as per law.</p>
                        <br>
                        <p> 10: Third party information exchange: No information is shared with any third party except within the novagems trust and development modules. No third party will have access to the application without the credentials. Data is not
                            visible from one company in contract with us to another company.</p>
                        <br>
                        <p> 11. Third-Party Services Google Maps: Provides mapping and location services for tracking functionality. Google Crashlytics: Used to monitor app performance and enhance stability.</p>
                        <br>
                        <p> 12. Data Security Novagems employs industry-standard security protocols to protect user data and ensure compliance with applicable data protection regulations. All data is encrypted and accessible only to authorized personnel.</p>
                        <br>
                        <p> 13. User Data Management and Rights Owners have direct control over their organization's data within Novagems, including user management, data access, and deletion.</p>
                        <br>
                        <p> 14. Data Deletion Employers, through designated owner account, have the authority to delete employee data in accordance with organizational policies and applicable laws.</p>
                        <br>
                        <p> 15. Data Retention: We retain data for as long as necessary to provide our services or as required by law. Once the employer no longer uses Novagems, data is securely retained or deleted as per organizational and regulatory requirements.</p>
                        <br>
                        <p> 16. User Rights: Users of all our products are always kept in mind in making our software to use as easy as possible. A similar training sessions enhance users to use the product. At times, we use online tutorials to impart the
                            knowledge of our product to other. Any queries are always welcome for all users.</p>
                        <br>
                        <p> 17. Contact Us For questions about this Privacy Policy, please contact us at support@novagems.com</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}