{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="free-trial-top">
        <div class="container">

            <div class="row mt-5 align-items-end">
                <div class="col-lg-6 col-md-6 col-12">
                    <h1 style="font-size: 30px; line-height: 40px;" class="Track-and-Manage"> The Best software for cleaning businesses</h1>
                    <p class="showcasing">Simplify your cleaning company’s operations with Novagems. Easily manage staff schedules, track work hours with GPS geofencing, automate payroll, and receive real-time alerts: everything you need in one app.
                    </p>
                    <div style="border-radius: 10px;">
                        {{- partial "cleaning-company-video.html" . -}}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 img-iped-head">
                    <div class="clients-blog book-a-demo-form">
                        <h6 class="Get-Free-Trial-h6">Start a free trial</h6>
                        <form class="mt-3" id="book-a-demo"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- schedule Section -->
    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="subheading color3">Features</p>
                    <h2>Famous features among 1000+ Clients</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-1 col-12 "></div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/scheduling.png" alt="Scheduling"></figure>
                        <p class="clients-p">Staff <br> scheduling</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Tracking.png" alt="task&Post"></figure>
                        <p class="clients-p">Employee Time<br> Tracking</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Mobile.png" alt="gps-geofence"></figure>
                        <p class="clients-p">Mobile <br>Clock in/out</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Attendance.png" alt="Clock"></figure>
                        <p class="clients-p">Attendance<br> Management</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/GPS.png" alt="Timesheet"></figure>
                        <p class="clients-p">GPS <br>Tracking</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-12 "></div>
            </div>
        </div>
    </div>

    <div class="features-among">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12 "></div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Alerts.png" alt="Mobile-Patrol"></figure>
                        <p class="clients-p">Alerts and<br> Notifications
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Shift.png" alt="Maintenance-Log-Sheet image"></figure>
                        <p class="clients-p">Shift <br>Tasks</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Real-Time.png" alt="Inspection-Report image"></figure>
                        <p class="clients-p">Real-Time <br> Reporting</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Payroll.png" alt="Work-Order-Management image"></figure>
                        <p class="clients-p">Payroll <br> Management</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-12 "></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-6 col-md-8 col-12 mx-auto my-5">
            <div class="footer-newsletter">
                <form id="get-started-for-free">
                    <input type="email" id="email" name="email" placeholder="Enter your email address">
                    <input class="home-btn" type="submit" value="Get Started for Free">
                </form>
            </div>
        </div>
    </div>

    <!-- GPS Tracking -->
    <div class="Managing-sec-rock">
        <div class="container ">
            <div class="testimonial-wrapper">
                <div class="quote-left"><img src="/images/novagems-img/novagemsv2/customer-stories/quote-left.png" alt="Clock-In-Out"></div>
                <div class="testimonial-container">
                    <div class="testimonial-text">
                        <p class="testimonial-message">
                            “Novagems Helped Us Create A Structured Workforce System, Ensuring That Every Shift Runs Smoothly And Clients Receive High-Quality Service On Time." - JMTA Janitorial Services Ltd <br> <span style="color: #786CE6;"> -Maninder Pal Singh, Owner</span>
                        </p>
                    </div>
                </div>
                <div class="quote-right"><img src="/images/novagems-img/novagemsv2/customer-stories/quote-right.png" alt="Clock-In-Out"></div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------- -->
    <div class=" pb-4">
        <div class="container-fluid  example">
            <div class="row">
                <div class="col-md-12 mt-5 mb-2 text-center ">
                    <p class="subheading tex-h color4">Our customer reviews</p>
                    <h3 class="hero-h1">Join 100,000+ highly productive team members</h3>
                </div>
            </div>

            <div>
                {{- partial "customerReviews.html" . -}}
            </div>
        </div>
        <div class="d-flex justify-content-center  gap-3 text-center">
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/google.png" alt="google">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/getapp.png" alt="getapp">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/capterra.png" alt="capterra">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/g2.png" alt="g2">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/software.png" alt="software">
            </div>
        </div>

    </div>
    <!-----------Section-------------->

    <!-- Home Grid Section -->
    <div class="pb-5">
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-md-12 mb-3 mt-5 text-center">
                    <p class="subheading tex-h " style="color: #F2845F;">WHY NOVAGEMS?</p>
                    <h2 class="Workforce-h2">Power, Simplicity & Support</h2>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/support-24.png" | absURL}}' alt="support-24"></figure>
                        <div>
                            <h5>24/7 <br> Support</h5>
                        </div>
                        <p>Get Round-The-Clock Assistance Whenever You Need It</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/free-trainings.png" | absURL}}' alt="free-trainings"></figure>
                        <div>
                            <h5>Free Training & Built-In <br> Learning Videos</h5>
                        </div>
                        <p>Seamless Onboarding With Step-By-Step Guides And In-App Tutorials.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Fast-implementation.png" | absURL}}' alt="Fast-implementation"></figure>
                        <div>
                            <h5>Fast <br> Implementation</h5>
                        </div>
                        <p>Set Up And Start Managing Your Workforce In No Time.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Custom-customization.png" | absURL}}' alt="Custom-customization"></figure>
                        <div>
                            <h5> Web & Mobile <br> Accessibility</h5>
                        </div>
                        <p>Manage Your Team Anytime, Anywhere With Our Mobile And Web Apps.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-----------Section-------------->
    <div>
        {{- partial "newsletterpage.html" . -}}
    </div>
    <!-----------Section-------------->
    <div>
        {{- partial "every-Industry.html" . -}}
    </div>
</div>


{{end}}