{{ define "main" }}
<div>
    <div class="container example">
        <div class="row header-subwrapper-v2">
            <div class="col-lg-6 col-md-7 col-12">
                <div>
                    <div>
                        <p class="subheading tex-h mb-0" style="color: #50C25F;">TASK MANAGEMENT</p>
                        <h1 class="hero-h1 mb-1">Assign, Track & Complete with Ease</h1>
                        <p class="subheading  mb-0" style="color: #50C25F;">Organize tasks, monitor progress, and ensure accountability for every shift.</p>
                        <p class="mt-1">Stay in control of your workforce by assigning tasks per shift, tracking progress in real-time, and ensuring task completion with proof of work.</p>
                    </div>
                    <div class="my-5">
                        <div class="footer-newsletter">
                            <form id="get-started-for-free">
                                <input type="email" id="email" name="email" placeholder="Enter your email address">
                                <input class="home-btn" type="submit" value="Get Started for Free">
                            </form>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        {{- partial "clients.html" . -}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-12 text-center">
                <img src="/images/novagems-img/novagemsv2/Task-Management/Task-Management-banner.png" alt="novagems-head">
            </div>
        </div>
    </div>
    <!-----------Section-------------->
    <div class="clearfix"></div>

    <div class="bgv2 ">
        <div class="container py-5">
            <div class="text-center">
                <h2>Key Features</h2>
            </div>

            <div class="d-flex flex-wrap justify-content-center mt-4" style="gap: 10px;">
                <div class="feature-card" style="border: 1px solid #48D0C8;">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/Task-Management/Task Assignments & Management.png" | absURL}}' alt="Scheduling">
                    <p class="feature-text">Mobile Clock-In/Out <br> with Geofencing</p>
                </div>
                <div class="feature-card" style="border: 1px solid #4693EA;">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/Task-Management/Task Completion Alerts & Reminders.png" | absURL}}' alt="Task & Post">
                    <p class="feature-text">GPS-Based Location<br> Tracking</p>
                </div>
                <div class="feature-card" style="border: 1px solid #DB688D;">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/Task-Management/Selfie Verification for Task Completion.png" | absURL}}' alt="GPS Geofence">
                    <p class="feature-text">Geofenced Attendance &<br> Task Management</p>
                </div>
            </div>
        </div>
    </div>
    <!-----------Section-------------->
    <div class="mt-3">
        <div class="container">
            <div class="text-center">
                <h2 class="Workforce-h2">Simplified Task Management for a Smarter Workforce</h2>
            </div>
            <div class="row align-items-center mt-4">
                <div class="col-lg-6 col-md-6 col-12">
                    <h2 class="mb-2 color1">Task Assignments & Management</h2>
                    <p>Easily Assign And Manage Tasks Based On Employee Shifts, Roles, And Locations To Ensure That Every Job Is Accounted For And Completed On Time. With A Centralized Task Management Interface, Managers Can Assign Work Efficiently And Track
                        Tasks In Real Time.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-center">
                    <figure><img class="tab-card-img" src="/images/novagems-img/novagemsv2/Task-Management/Task Assignments & Management2.png" alt="Schedule-Management"></figure>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row align-items-center ">

                <div class="col-lg-6 col-md-6 col-12 text-center">
                    <figure><img class="tab-card-img" src="/images/novagems-img/novagemsv2/Task-Management/Task Completion Alerts & Reminders2.png" alt="Task-and-post-order"></figure>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <h2 class="mb-2 color2">Task Completion Alerts & Reminders</h2>
                    <p>Keep Employees On Track With Automated Task Reminders And Real-Time Completion Alerts. Employees Receive Push Notifications When Tasks Are Due, And Managers Are Notified Instantly When Tasks Are Completed Or Left Pending. This Ensures
                        Better Accountability And Workflow Efficiency. This Gives You And Your Clients Peace Of Mind.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-tp">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg-6 col-md-6 col-12">
                    <h2 class="mb-2 color1">Selfie Verification For Task Completion</h2>
                    <p>Ensure Employees Are On-Site And Completing Assigned Tasks With Real-Time Photo Verification. With Selfie Verification For Task Completion, Employees Must Submit A Live Photo Upon Finishing A Task To Confirm Their Presence At The Job
                        Site. This Feature Prevents Falsified Task Completion Reports, Improves Workforce Transparency, And Enhances Overall Site Security.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-center">
                    <figure><img src="/images/novagems-img/novagemsv2/Task-Management/Selfie Verification For Task Completion2.png" alt="GPS-Track-Geofence"></figure>
                </div>
            </div>
        </div>
    </div>
    <!-----------Section-------------->
    <!-----------Section-------------->

    <div class="Managing-sec">
        <div class="container mt-5">
            <div class="testimonial-wrapper">
                <div class="quote-left"><img src="/images/novagems-img/novagemsv2/quote-left.png" alt="Clock-In-Out"></div>
                <div class="testimonial-container">
                    <div class="testimonial-image">
                        <img src="/images/novagems-img/novagemsv2/feature/Manny.png" alt="Clock-In-Out">
                    </div>
                    <div class="testimonial-text">
                        <p class="testimonial-message">
                            “With Novagems, we’ve been able to handle shift management and payroll much more efficiently - no more schedule changes the last minute.”
                        </p>
                        <p class="testimonial-author">— Manny, Owner</p>
                    </div>
                </div>
                <div class="quote-right"><img src="/images/novagems-img/novagemsv2/quote-right.png" alt="Clock-In-Out"></div>
            </div>
        </div>
    </div>
    <!-- Complete workforce management for security guard companies -->
    <div>
        {{- partial "newsletterpage2.html" . -}}
    </div>
    <!-----------Section-------------->
    <div>
        {{- partial "every-Industry.html" . -}}
    </div>
    <!-- ------------------------------------------- -->
    <!-- ------------------------------------------- -->
    <div class="bgv2">
        <div class="container py-4">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h2 class="mb-2">Boost Workforce Productivity With Smart Task Management!</h2>
                    <p>Eliminate Miscommunication And Incomplete Work. Assign, Track, And Verify Tasks Effortlessly!</p>
                </div>

                <div class="d-flex flex-wrap justify-content-center mt-4" style="gap: 10px;">
                    <div class="feature-card" style="border: 1px solid #50C25F;box-shadow: none;">
                        <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/feature/Boost Workforce Productivity.png" | absURL}}' alt="Scheduling">
                        <p class="feature-text">Improve Shift <br> Productivity</p>
                    </div>
                    <div class="feature-card" style="border: 1px solid #4693EA;box-shadow: none;">
                        <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/feature/Reduce Scheduling Errors.png" | absURL}}' alt="Task & Post">
                        <p class="feature-text">Ensure Task Completion<br> With Accountability</p>
                    </div>
                    <div class="feature-card" style="border: 1px solid #786CE6;box-shadow: none;">
                        <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/feature/Save Time With Automation.png" | absURL}}' alt="GPS Geofence">
                        <p class="feature-text">Monitor Real-Time<br> Progress With Ease</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center  gap-3 text-center mt-4">
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/google.png" alt="google">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/getapp.png" alt="getapp">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/capterra.png" alt="capterra">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/g2.png" alt="g2">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/software.png" alt="software">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "newsletterpage.html" . -}}
    </div>
    <!-- Home Grid Section -->
    <div class="py-5">
        <div class="container pt-2 ">
            <div class="row">
                <div class="col-md-12 mb-3 mt-5 text-center">
                    <!-- <p class="subheading tex-h " style="color: #F2845F;">WHY NOVAGEMS?</p> -->
                    <h2 class="Workforce-h2">Power, Simplicity & Support</h2>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/support-24.png" | absURL}}' alt="support-24"></figure>
                        <div>
                            <h5>24/7 <br> Support</h5>
                        </div>
                        <p>Get Round-The-Clock Assistance Whenever You Need It</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/free-trainings.png" | absURL}}' alt="free-trainings"></figure>
                        <div>
                            <h5>Free Training & Built-In <br> Learning Videos</h5>
                        </div>
                        <p>Seamless Onboarding With Step-By-Step Guides And In-App Tutorials.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Fast-implementation.png" | absURL}}' alt="Fast-implementation"></figure>
                        <div>
                            <h5>Fast <br> Implementation</h5>
                        </div>
                        <p>Set Up And Start Managing Your Workforce In No Time.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Custom-customization.png" | absURL}}' alt="Custom-customization"></figure>
                        <div>
                            <h5> Web & Mobile <br> Accessibility</h5>
                        </div>
                        <p>Manage Your Team Anytime, Anywhere With Our Mobile And Web Apps.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container mt-5 ">
            <div class="row">
                <div class="col-md-8 ">
                    <img src='{{"/images/novagems-img/customer-success.png" | absURL}}' alt="customer-success">
                </div>
                <div class="col-md-4">
                    <img class="mb-3 phone-fast" src='{{"/images/novagems-img/Rectangle2.png" | absURL}}' alt="Rectangle2">
                    <img class="phone-fast" src='{{"/images/novagems-img/Rectangle3.png" | absURL}}' alt="Rectangle3">
                </div>
            </div>
        </div> -->


    </div>

</div>

<style>
    .card-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .card-features {
        flex: 1 1 30%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        padding: 30px;
    }
    
    @media screen and (max-width:767px) {
        .card-features {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
    
    .bgv3 {
        background: #FFF8E7 0% 0% no-repeat padding-box;
        border-radius: 20px;
        padding-top: 1px;
        padding-left: 0px;
    }
    
    @media screen and (max-width:768px) {
        .bgv3 {
            background: #FFF8E7 0% 0% no-repeat padding-box;
            border-radius: 20px;
            padding-top: 1px;
            padding-bottom: 50px;
            padding-left: 15px;
        }
    }
    
    .Trusted-Section {
        padding: 10px 0px;
        margin-top: 200px;
    }
</style>
<div class="clearfix"></div>


<!-- <div>
    <div class="task-mangement-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">Manage <span class="color5">Everything </span> from A Single Place. <span class="color5">Improve Partnerships</span> Between Teams/Departments</h1>
                            <p>Manage team tasks, track staff time, and increase collaboration within different departments. Let everyone complete tasks efficiently without missing deadlines.</p>
                        </div>
                        <div class="col-md-12  my-5">
                            <div class="row ">
                                <div class="col-lg-9 col-md-11 col-12 input-get-free">
                                    <div class="footer-newsletter">
                                        <form id="get-started-for-free">
                                            <input type="email" id="email" name="email" placeholder="Enter your email address">
                                            <input class="home-btn" type="submit" value="Get Started for Free">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-1 col-12"></div>
                            </div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Task-and-post-order.png" alt="Task-and-post-order">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">No more mismanagement of resources.</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-1.png" alt="Task-Management-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Timed Tasks & checklist</h5>
                    <p class="subheading color2">Scheduling checklists to organize and manage staff </p>
                    <p>An effective use of technology to manage efficient task execution, organize and manage teams. This central integration program creates checklists for queuing, scheduling, and delegation. It saves all the tasks that your team performs
                        while at work so that they don’t have to manually track their progress. The checklists keep them focused on completing the scheduled tasks and sends automatic notifications to the supervisor. Significantly reduce losses by ensuring
                        consistency and completeness in carrying out repetitive tasks. </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Automatic Task Confirmation</h5>
                <p class="subheading color3">Enhance productivity by improving the workflow</p>
                <p>Automated task confirmation reduces scheduling conflicts and speeds up the work allocation. It optimizes the operations by improving workflow and increases organizational capacity. The instinctive task scheduler trims down admin reporting
                    time by over 70%. Supervisors can follow status of projects in the real time without interrupting staff. It adds additional flexibility to the work schedule, reduce overtime and minimize absences. Also improves staff satisfaction by
                    putting them in control of their work allocation. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-2.png" alt="Task-Management-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-3.png" alt="Task-Management-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Picture & Video Proofs</h5>
                <p class="subheading color7">Take charge of project tasks</p>
                <p>Gets you proofs for additional control. Boosts your team’s performance by fixing accountability and ensures tasks are done on time. Remote monitoring and management improve overall security and decreases the value of ownership. The data
                    is uploaded in the real time to give a better response to context-driven work. The neat, well-organized interface helps get rid of scores of paperwork. Results in better decision-making and improved issue response to make your brand
                    even more trustworthy and reliable in the eyes of prospective clients.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Task Reports</h5>
                <p class="subheading color2">Information distribution for better decisioning</p>
                <p>Translate sets of key metrics into actionable reports. No more wasting of time in compiling data from multiple excels, which not only consumes a lot of time but is also error prone. Present weekly, monthly, yearly reports in minutes to
                    analyze productivity. Monitor incidents and activities, find trends, and get real-time insights to improvise. The feature does not require any tech knowledge to manage the processes. The Novagems platform is streamlined for use by
                    individuals with no technical experience.</p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Dashboard_Analytics">
                            <input type="email" id="Dashboard-Analytics" name="Dashboard-Analytics" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-3.png" alt="Task-Management-3"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Notifications.png" alt="Notifications"></figure>
            </div>
            <div class="col-md-6">
                <h5>Real Time Notifications</h5>
                <p class="subheading color2">Task management tool to make changes on the go
                </p>
                <p>With a task management tool you can make changes on the go and make sure no errors are made while communicating with the team. Keep different departments from the organizations on the same page and avoid any miscommunication. Notifications
                    create transparency and accountability within a team. By receiving updates on task progress or completion, team members and managers can monitor performance and address any issues or bottlenecks promptly</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="GPS_Tracking">
                            <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Task Prioritization</h5>
                <p>The team can be notified when a high-priority task is assigned or when a deadline is approaching. This ensures that tasks are addressed promptly, reducing the risk of missed deadlines or overlooked assignments. When everything is running
                    smoothly the overall productivity of the entire team will increase and in return client satisfaction will increase as well. Even if there is an overflow of tasks, the team will not feel frustrated and overwhelmed. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Prioritization.jpg" alt="Task-Prioritization"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Timely-Reminders.jpg" alt="Timely-Reminders"></figure>
            </div>
            <div class="col-md-6">
                <h5>Timely Reminders
                </h5>
                <p>The system will automatically send task reminders to the allotted team members so that nothing is missed. The team will get prompts of upcoming tasks, if any task is missed. Managers will be notified as well if the employees are missing
                    their job duties. In situations where users need to juggle multiple tasks simultaneously, reminders help keep track of various deadlines and ensure that no task is forgotten or neglected.
                </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div> -->


{{end}}