{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="time-cost-analysis-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1"><span class="color5">Leverage the strength </span> of time tracking to streamline your payroll processing</h1>
                            <p> Integrate cost analysis for security management to reduce time spent in front of the system. Generate accurate payroll reports efficiently using cost-effective security management software.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Timesheet.png" alt="Timesheet">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center  mt-5">
                    <h2 class="color4">Combine Time and attendance for simplified payments</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-1.png" alt="Time&cost-analysis-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Avoid Employee Burnout</h5>
                    <p class="subheading color2">Manage the staff and their shifts on the go!</p>
                    <p>Efficiently manage guards and their shifts using integrated software. Easily gather data on scheduled hours, working hours, and overtime for accurate payroll processing. Improve productivity and efficiency by tracking guard performance.
                        Automated reminders prevent payroll errors by notifying shift end times.</p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5> Prevent Time Theft</h5>
                <p class="subheading color3">Stay one step ahead - always!</p>
                <p>Track guard work hours and pay accurately with our time-tracking software. Manage schedules and monitor productivity to identify areas for improvement. Obtain visual proof of completed tours and duties. Automated reports provide comprehensive
                    oversight of operations. Simplify expense analysis with our software, freeing up time to focus on organizational growth.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-2.png" alt="Time&cost-analysis-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-3.png" alt="Time&cost-analysis-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Cost Estimation</h5>
                <p class="subheading color7">Budgeting made easier</p>
                <p>An essential aspect of time-cost analysis is estimating the financial implications of a project. Scheduling software can factor in various cost elements such as labor expenses, equipment costs, and material expenditures. By integrating
                    cost estimation with the scheduling process, businesses can accurately project and manage their budgets.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Reporting and Analytics</h5>
                <p class="subheading color2">Make data driven decisions</p>
                <p>Time-cost analysis in scheduling software provides comprehensive reporting and analytics capabilities. Users can generate detailed reports, videos, and photos to visualize project timelines, resource utilization, and cost breakdowns. These
                    insights enable stakeholders to make data-driven decisions, monitor progress, and identify areas for improvement.</p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Dashboard_Analytics">
                            <input type="email" id="Dashboard-Analytics" name="Dashboard-Analytics" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-3.png" alt="Task-Management-3"></figure>
            </div>
        </div>
    </div>

    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}