{{ define "main" }}
<div class="pb-5" style="background-color: #fff;">
    <div class="customer-stories-section">
        <div class="bg-pattern"></div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-5">
                    <div class="hero-content allimgphonecenter">
                        <h1 class="heading-stories" style="color:#292d34 ;">See how workplaces like yours get Shift done.</h1>
                        <a href="/customer-stories/umesh-sirohi-multi-brand-restaurant-group" class="btn btn-read-story" style="color:#fff !important ;">READ STORY </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card-container Rockphone">
                        <img src="/images/novagems-img/novagemsv2/customer-stories/Securiwatch-Security-right.png" alt="People" class="person-image">
                        <div class="testimonial-card">
                            <div class="text-center">
                                <div class="category-badge ">SECURITY</div>
                            </div>
                            <div class="logo text-center">
                                <img src="/images/novagems-img/novagemsv2/customer-stories/Securiwatch-Security-logo.png" alt="Umesh's-logo">
                            </div>
                            <p class="card-text">
                                Securiwatch Security - With a workforce exceeding 1,500 employees, efficient scheduling and workforce management are critical to maintaining high-quality service and operational excellence.
                            </p>
                            <div class="text-center">
                                <a href="/customer-stories/securi-watch-security" class="read-more">Read Story</a>
                            </div>
                        </div>
                        <img src="/images/novagems-img/novagemsv2/customer-stories/Securiwatch-Security-left.png" alt="Interior" class="interior-image">
                    </div>

                    <!-- <div class="card-container Rockdp">
                        <div class="testimonial-card">
                            <img src="/images/novagems-img/novagemsv2/customer-stories/Umesh.png" alt="Interior">
                            <div class="text-center mt-3">
                                <div class="category-badge ">FOOD</div>
                            </div>
                            <div class="logo text-center">
                                <img src="/images/novagems-img/novagemsv2/customer-stories/Umesh's-logo.png" alt="">
                            </div>
                            <p class="card-text">
                                Umesh's Multi-Brand Restaurant Group - Managing employees across four to five locations was becoming increasingly difficult with manual scheduling, leading to inefficiencies and frequent...
                            </p>
                            <div class="text-center">
                                <a href="/customer-stories/umesh-sirohi-multi-brand-restaurant-group" class="read-more">Read Story</a>
                            </div>
                        </div>
                    </div> -->
                    <div class=" cardstories-top-phone Rockdp">
                        <div class="stories-card">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="stories-card card-outline">
                                        <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/Securiwatch-Security.png" alt="Securiwatch-Security">
                                    </div>
                                    <div class="text-center">
                                        <p>1,500 Employees</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-12 allimgphonecenter">
                                    <div class="pl-3 pr-3 pt-4 pb-4">
                                        <div class="category-badge-btn">
                                            <div class="category-badge ">SECURITY</div>
                                        </div>
                                        <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/Securiwatch-Security-logo.png" alt="Securiwatch-Security-logo">
                                        <p class="stories-details-p"><b>Securiwatch Security -</b> </p>
                                        <p class="mb-3 stories-details-p">
                                            With a workforce exceeding 1,500 employees, efficient scheduling and workforce management are critical to maintaining high-quality service and operational excellence.</p>
                                        <a href="/customer-stories/securi-watch-security" class="read-more">Read Story</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------- -->
    <section class="storiescardtop">
        <div class="container">
            <div class="row">
                <!-- ------------------1----------------- -->
                <div class="col-md-6 col-12 cardstories-top-phone">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/UGS-Security.png" alt="UGS-Security">
                                </div>
                                <div class="text-center">
                                    <p>750 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">SECURITY</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/UGS-logo.png" alt="UGS-Security logo">
                                    <p class="stories-details-p"><b>UGS Security - </b></p>
                                    <p class="mb-3 stories-details-p">Since implementing Novagems, we have experienced a remarkable improvement in efficiency, accountability, and overall transparency—critical elements ...
                                    </p>
                                    <a href="/customer-stories/ugs-security" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------------2----------------- -->
                
                <div class="col-md-6 col-12 cardstories-top-phone">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/Xtreme-Security.png" alt="Xtreme-Security">
                                </div>
                                <div class="text-center">
                                    <p>150 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">SECURITY</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/Xtreme-logo.png" alt="Xtreme-logo">
                                    <p class="stories-details-p"><b>Xtreme Security -</b> </p>
                                    <p class="mb-3 stories-details-p">For Xtreme Security, TrackTik failed to meet their business needs. The company needed precise scheduling, real-time coordination, and streamlined payroll management ...
                                    </p>
                                    <a href="/customer-stories/xtreme-security" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row storiessec2">
                <!-- ----------------7------------------- -->
                <div class="col-md-6 col-12 ">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/jms.png" alt="jms">
                                </div>
                                <div class="text-center">
                                    <p>50 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">SECURITY</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/JMS-Logo.png" alt="jms logo">
                                    <p class="stories-details-p"><b>JMS -</b></p>
                                    <p class="mb-3 stories-details-p">JMS Security is a security services provider that offers comprehensive solutions. With over 50 employees, they focus on ensuring the safety of their clients...</p>
                                    <a href="/customer-stories/jms-security" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------------8----------------- -->
                 <div class="col-md-6 col-12 cardstories-top-phone">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/jmta.png" alt="jmta">
                                </div>
                                <div class="text-center">
                                    <p>70 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">CLEANING</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/jmta-logo.png" alt="jmta-logo">
                                    <p class="stories-details-p"><b>JMTA Janitorial Services -</b></p>
                                    <p class="mb-3 stories-details-p"> JMTA Janitorial Services Ltd is a reputable cleaning company dedicated to providing top-notch janitorial services across various sectors. <br><br></p>
                                    <a href="/customer-stories/jmta-janitorial-services" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              

                
            </div>
            <!-- -----------------3------------------ -->
            <div class="row storiessec2">
                 <div class="col-md-6 col-12">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" style="border-radius: 20px;" src="/images/novagems-img/novagemsv2/customer-stories/Industry1.png" alt="rock&stone">
                                </div>
                                <div class="text-center">
                                    <p>50 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">CONSTRUCTION </div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/rock&stone-logo.png" alt="rock&stone-logo">
                                    <p class="stories-details-p"><b>Rock & Stone Constructions -</b></p>
                                    <p class="mb-3 stories-details-p"> Rock & Stone Drywalling is a specialized drywall installation and finishing company...</p>
                                    <a href="/customer-stories/rock-and-stone-constructions/" class="read-more">Read Story</a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------4------------------- -->
                <div class="col-md-6 col-12 cardstories-top-phone">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" style="border-radius: 25px;" src="/images/novagems-img/novagemsv2/customer-stories/Industry3.png" alt="Industry3">
                                </div>
                                <div class="text-center">
                                    <p>100 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">CONSTRUCTION</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/CWorth-logo.png" alt="CWorth-logo">
                                    <p class="stories-details-p"><b>CWorth Developments -</b> </p>
                                    <p class="mb-3 stories-details-p">With 100 employees, CWorth Developments needed an efficient scheduling and workforce management are critical to maintaining high-quality service and operational excellence.</p>
                                    <a href="/customer-stories/cworth-developments" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----------------------------------- -->
            <div class="row storiessec2">
                <!-- ----------------5------------------- -->
                <div class="col-md-6 col-12 ">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/Freshslice.png" alt="Freshslice">
                                </div>
                                <div class="text-center">
                                    <p>14 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">FOOD</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/Freshslice-logo.png" alt="Freshslice logo">
                                    <p class="stories-details-p"><b>Freshslice -</b></p>
                                    <p class="mb-3 stories-details-p">Saving approximately 4 hours per week by easy workforce scheduling, Freshslice, improved shift coordination with open shifts and reduced scheduling conflicts.</p>
                                    <a href="/customer-stories/freshslice" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------------6----------------- -->
                  <div class="col-md-6 col-12 ">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/Umesh.png" alt="Umesh">
                                </div>
                                <div class="text-center">
                                    <p>25 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">FOOD</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/Umesh's-logo.png" alt="Umesh's-logo">
                                    <p class="stories-details-p"><b> Umesh's Multi-Brand Restaurant Group - </b> </p>
                                    <p class="mb-3 stories-details-p">
                                       Managing employees across four to five locations was becoming increasingly difficult with manual scheduling, leading to inefficiencies and frequent miscommunication.</p>
                                    <a href="/customer-stories/umesh-sirohi-multi-brand-restaurant-group" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                  
                
            </div>
            <!-- ----------------------------------- -->
            
            <!-- ----------------------------------- -->
            <div class="row storiessec2">
                <!-- ------------------9----------------- -->
               <div class="col-md-6 col-12 ">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" src="/images/novagems-img/novagemsv2/customer-stories/Maat-Management.png" alt="Maat-Management">
                                </div>
                                <div class="text-center">
                                    <p>10 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">AIRBNB SERVICE</div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/Maat-Management-logo.png" alt="Maat-Management logo">
                                    <p class="stories-details-p"><b>Maat Management -</b></p>
                                    <p class="mb-3 stories-details-p"> Maat Management specializes in managing Airbnb properties, ensuring seamless guest experiences and optimal property performance. With a team of over 10 employees...
                                    </p>
                                    <a href="/customer-stories/maat-management" class="read-more">Read Story</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------10------------------- -->
                <div class="col-md-6 col-12 cardstories-top-phone">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" style="border-radius: 20px;" src="/images/novagems-img/novagemsv2/customer-stories/One-Life.svg" alt="One-Life">
                                </div>
                                <div class="text-center">
                                    <p>25 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">HEALTHCARE </div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/One-Life-logo.png" alt="One-Life logo">
                                    <p class="stories-details-p"><b>One Life Centre -</b></p>
                                    <p class="mb-3 stories-details-p"> One Life Centre has streamlined its scheduling process, ensuring the right staff ...</p>
                                    <a href="/customer-stories/onelifecentre/" class="read-more">Read Story</a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- --------------------11------------------------- -->
            <!-- <div class="row storiessec2">
                <div class="col-md-6 col-12">
                    <div class="stories-card">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="stories-card card-outline">
                                    <img class="stories-card-img" style="border-radius: 20px;" src="/images/novagems-img/novagemsv2/customer-stories/Old-Metrotown.svg" alt="Old-Metrotown">
                                </div>
                                <div class="text-center">
                                    <p>75 Employees</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 allimgphonecenter">
                                <div class="pl-3 pr-3 pt-4 pb-4">
                                    <div class="category-badge-btn">
                                        <div class="category-badge ">RETAIL </div>
                                    </div>
                                    <img class="mb-3" src="/images/novagems-img/novagemsv2/customer-stories/Old-Metrotown-logo.svg" alt="Old-Metrotown logo">
                                    <p class="stories-details-p"><b>Old Metrotown -</b></p>
                                    <p class="mb-3 stories-details-p"> Old Metrotown has modernized its scheduling system, enabling the company to handle...</p>
                                    <a href="/customer-stories/oldmetrotown/" class="read-more">Read Story</a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 cardstories-top-phone">

                </div>
            </div> -->


        </div>

    </section>

</div>
{{end}}