{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="privacy-bg2">
        <div class="container">
            <div class="row align-items-center" style="padding-top: 90px;">
                <div class="col-md-7 mx-auto">
                    <figure><img src="/images/novagems-img/terms-and-conditions.svg" alt="terms-and-conditions">
                    </figure>
                </div>
            </div>
        </div>


        <div class="container ">
            <div class="row ">
                <div class="col-md-10 offset-md-1 mb-5">
                    <div>
                        <h1 class="my-3">Terms and Conditions</h1>

                        <p><b>Our commitment to data privacy</b></p>
                        <p>At Novagems, maintaining the privacy and security of your personal data is one of our key
                            priorities. We understand the great responsibility that comes with looking after your data
                            and we have implemented stringent privacy and
                            security measures to ensure that your data is safely stored and securely managed. If you are
                            curious to know more, please read through these helpful FAQ’s to stay informed about why
                            your data is secure with Novagems.</p>
                        <br>
                        <p><b>FAQs</b></p>
                        <p><b>Are there laws that protect the privacy of Novagems's customer data?</b></p>
                        <p>Yes! There are several of them and a detailed discussion of each regulation is beyond the
                            scope of this article. Some of the big ones you may have heard of are the General Data
                            Protection Regulation (GDPR) which applies to the
                            European Union and European Economic Area; the California Consumer Privacy Act (CCPA) which
                            applies to customers and users in California; and the Privacy Act of 1988 which applies to
                            Australian customers and users. These laws
                            have lots of similarities and some differences. For purposes of this FAQ, we will focus on
                            the GDPR.</p>
                        </br>

                        <p><b>What is the GDPR?</b></p>
                        <p>The GDPR is an EU regulation on data protection and privacy. It also discusses the transfer
                            of data outside the EU and EEA. The purpose of the GDPR is to give individuals control over
                            their "personal data."</p>
                        <br>
                        <p><b>What is personal data?</b></p>
                        <p>Generally speaking, personal data is any information from which a person can be identified or
                            potentially identified. Some examples of personal data are: names and surnames, nicknames,
                            home address, email address, telephone number,
                            credit card numbers, ID numbers, geolocation data (e.g., location data on a cell phone), an
                            IP address, a cookie ID, facial and voice recognition data, and the like.</p>
                        </br>

                        <p><b>What are my rights with respect to my personal data?</b></p>
                        <p>Subject to certain limitations and restrictions (e.g., depending on circumstances such as
                            where you reside) you may have certain rights in relation to your personal information,
                            including the following:</p>
                        <br>

                        <p><b>The right of access to personal information we hold about you.</b></p>
                        <p>The right to know what personal information we collect about you, and how it is used and
                            shared.<br> The right of rectification to update your personal information if it is
                            inaccurate or incomplete.<br> The right to erasure/deletion
                            (‘right to be forgotten’) of your personal information.<br> The right to object to our use
                            and handling of your personal information.<br> The right to restrict our handling of your
                            personal information.<br> The right of data
                            portability for transfer of your personal information to another party.<br> The right to
                            withdraw consent you have previously provided.<br> Please note that in order to verify your
                            request or the applicability of any of these
                            rights to your circumstances, we may ask you for further information and to verify your
                            identity before responding.
                        </p>
                        <br>
                        <p><b>What kind of personal data does Novagems collect?</b></p>
                        <p>Novagems collects several types of personal data in order to provide best in class workforce
                            management software to our customers, including but not limited to:</p>

                        <br>
                        <p><b>Information Type</b></p>
                        <br>
                        <p>Examples</p><br>

                        <p>Profile information - This information is provided by you at signup and may include name,
                            contact details, date of birth, gender, and photo</p>
                        <p>Financial information - This is information you provide that allows us to charge you for
                            services and may include bank information, credit card details, transaction history, and
                            other billing information</p>
                        <p>Employment information - This may include your employees' rosters, timesheets, pay
                            information, positions or job functions, and other information about their employment</p>
                        <p>Sensitive information - This may include biometric information you or your employees' provide
                            to Novagems if your instance of the service has a "kiosk" (iPad) device and facial or voice
                            recognition features enables</p>

                        <br>
                        <p><b>As an employer, how do I delete an employee account?</b></p>
                        <p>You can only delete an employee if the employee has been archived first. To archive an
                            employee, you must ensure that they do not have any outstanding timesheets to be approved,
                            or shifts that need to be worked. For more information
                            about archiving and unarchiving employees, check out our help guide here. For specific
                            instructions on how to delete an employee's account please see our Help Docs.</p>
                        <br>

                        <p><b>Who can delete an employee's Novagems account?</b></p>
                        <p>Only System Administrators can delete accounts.</p>
                        <br>

                        <p><b>When I delete an account, how much data is deleted?</b></p>
                        <p>All data associated with that account is deleted including contact details, previous
                            timesheets, shifts, tasks, journals, employment terms.</p>
                        <br>

                        <p><b>Can I recover a deleted account?</b></p>
                        <p>No, once an account is deleted it cannot be recovered.</p>
                        <br>

                        <p><b>How does Novagems keep my personal data secure?</b></p>
                        <p>Novagems uses industry leading technical and organizational measures to secure the physical
                            and electronic information we store. For more information about Novagems’s security
                            measures, visit our Security page. Please note no security
                            system is impenetrable and due to the inherent nature of the Internet, we cannot guarantee
                            that information, during transmission through the Internet or while stored on our systems or
                            otherwise in our care, is absolutely safe.</p>
                        <br>
                        <p><b>How long does Novagems retain my personal data?</b></p>
                        <p>Your personal data will be retained for only the period that is necessary according to the
                            purpose it was originally collected for, to fulfill the purpose outlined in our Privacy
                            Policy, or to meet legislative or regulatory obligations,
                            such as financial reporting requirements. After it is determined that your personal data
                            reaches the end of its retention period, we will either delete or anonymize your information
                            or, if this is not possible then we will
                            securely store your information and isolate it from any further use until deletion is
                            possible.</p>
                        <br>

                        <p><b>Where does Novagems process or transfer my personal data?</b></p>
                        <p>If you are based within the UK/EU we will only process and/or transfer data outside of the
                            European Economic Area or EEA (i.e. the Member States of the European Union, together with
                            Norway, Iceland and Liechtenstein) where it is
                            compliant with the GDPR and the means of transfer provides adequate safeguards in relation
                            to your personal information, including for example:</p>

                        <p>By way of a data transfer agreement with your employer organization, incorporating the
                            current standard contractual clauses adopted by the European Commission for the transfer of
                            personal information by controllers in the EEA to
                            controllers and processors in jurisdictions without adequate data protection laws; or By way
                            of a data transfer agreement with a third party, incorporating the current standard
                            contractual clauses adopted by the European Commission
                            for the transfer of personal information by controllers in the EEA to controllers and
                            processors in jurisdictions without adequate data protection laws; or By transferring your
                            personal information to a country where there
                            has been a finding of adequacy by the European Commission in respect of that country's
                            levels of data protection via its legislation; or Where it is necessary for the conclusion
                            or performance of a contract between Novagems
                            and a third party and the transfer is in your interests for the purposes of that contract
                            (for example, if we need to transfer your personal information to a benefits provider based
                            outside the EEA); or Where you have consented
                            to the data transfer.
                        </p>

                        <br>

                        <p><b>SERVICE AGREEMENT</b></p>
                        <br>
                        <p><b>Software.</b> Novagems grants to the Clients, subject to the terms and conditions set
                            forth, a non-exclusive, worldwide, non-transferable, license to use the Software in its
                            operations.</p>

                        <p><b>Non-Ownership.</b> Except as expressly provided, nothing is construed to confer any
                            ownership interest, license or other rights upon Client by implication, estoppel or
                            otherwise as to any technology, intellectual property rights,
                            products of Novagems or any other entity.</p>
                        <p><b>Term.</b> The grant of the License is for Initial License Term beginning from the
                            Effective Date, and then automatically continuing on the same mutually aligned basis, unless
                            either party elects against the continuance.</p>
                        <p><b>Termination.</b> Both Parties (Novagems or the Client) may terminate the service
                            agreement, the communications by either party shall be sent by way of overnight mail or
                            electronic mail (unless otherwise specified herein) at
                            least thirty (30) days prior to the next billing date. </p>

                        <p><b>Training.</b> Novagems provides one (1) full-day training session to Client’s employees on
                            the use of the Software, on a mutually-agreed-upon day and time between the Parties.</p>

                        <p><b>Full Agreement.</b> The written provisions of the Service Agreement shall constitute the
                            full extent of the understanding between the Parties that supersedes and fully replaces any
                            and all oral agreements or understandings which
                            may presently or thereafter exist between the Parties.</p>

                        <p><b>Binding.</b> The Settlement Agreement shall be binding upon and shall inure to the benefit
                            of the Parties and their respective successors and assigns.</p>

                        <p><b>Severability.</b> If any part of the Agreement is declared unenforceable or invalid, the
                            remainder will continue to be valid and enforceable.</p>

                        <p><b>Laws.</b> The Agreement shall be governed by and construed in accordance with the internal
                            laws of the Province of British Columbia without reference to any conflicts of law
                            provisions.</p>

                        <p><b>Force Majeure.</b> Either Party shall be excused from performance and shall not be in
                            default in respect of any obligation hereunder to the extent that the failure to perform
                            such obligation is due to a Force Majeure Event.</p>

                        <p><b>Modification.</b> The Agreement represents the complete understanding between the Parties
                            relating to the subject matter hereof, and may not be terminated, modified, amended or
                            revoked in whole or in part, except by an instrument
                            in writing duly executed by the Parties.</p>

                        <p><b>Counterparts.</b> The Agreement may be executed in counterparts, each of which shall be
                            deemed to be an original but all of which together shall constitute one and the same
                            instrument. Facsimile, photocopy, scanned copy and/or
                            PDF signatures shall be valid as originals.</p>

                        <p><b>Acts of God.</b> Neither of the Parties will be responsible for delays or failures in
                            performance resulting from causes beyond the reasonable control of such Party and without
                            the fault or negligence of the Party claiming excusable
                            delay or failure, provided that such Party uses reasonable efforts to correct such delay or
                            failure. This Section will not apply to excuse a delay or failure to make any payment when
                            due.</p>

                        <p><b>Interpretation.</b> The language of all parts of the Agreement shall in all cases be
                            construed as a whole, according to its fair meaning, and not for or against any of the
                            Parties.</p>

                        <p><b>Time.</b> The Parties agree that time is of the essence.</p>

                        <p><b>Waiver.</b> Any delay or omission in the enforcement of any right or remedy arising under
                            this Agreement shall not be deemed a waiver of such right or remedy.</p>

                        <p><b>Authority.</b> Each person executing this Settlement Agreement on behalf of any Party
                            represents and warrants that he/she has the authority to execute this Settlement Agreement,
                            that he/she has been fully empowered to execute
                            this Settlement Agreement, and that all necessary action for the execution of this
                            Settlement Agreement has been taken.</p>

                        <p><b>Notice.</b> All notices, requests or other communications to any party hereunder shall be
                            sent by way of overnight mail or electronic mail (unless otherwise specified herein).</p>

                        <p><b>No Assignment.</b> Neither Party will assign or transfer any rights or obligations under
                            this Agreement without the prior written consent of the other Party, which consent shall not
                            be unreasonably withheld. However, Client
                            may assign this Agreement in the case of a merger, acquisition, consolidation or
                            reorganization only with the prior written authorization of Novagems.</p>

                        <br>

                        <p><b>TERMS & CONDITIONS</b></p>
                        <br>
                        <p><b>No Liability.</b> novagems is not liable with respect to any subject matter under any
                            contract, negligence, strict liability or other legal or equitable theory for (a) any
                            indirect, incidental, consequential or punitive damages
                            or lost profits or (b) cost of procurement of substitute goods, technology or services.</p>

                        <p><b>Indemnification.</b> Client shall indemnify, defend and hold harmless Novagems and its
                            current and former directors, governing board members, trustees, officers, faculty, medical
                            and professional staff, employees, students and
                            agents and their respective successors, heirs and assigns (the “Indemnitees”) from and
                            against any claim, liability, cost, expense, damage, deficiency, loss or obligation of any
                            kind or nature (including reasonable attorneys’
                            fees and other costs and expenses of litigation) based upon, arising out of or otherwise
                            relating to this Agreement, including any cause of action relating to product liability
                            concerning any product, process or service made,
                            used, sold or performed pursuant to any right or license granted under this Agreement
                            (collectively “Claims”). Neither Client nor Novagems shall settle any Claim without the
                            prior written consent of the other, which consent
                            shall not be unreasonably withheld.</p>

                        <p><b>Attorney Fees.</b> Client shall, at its own expense, provide attorneys reasonably
                            acceptable to Novagems to defend against any actions brought or filed against any Indemnitee
                            hereunder with respect to the subject of indemnity
                            contained herein, whether or not such actions are rightfully brought.</p>

                        <p><b>Confidential Information.</b> “Confidential Information” is information provided by one
                            party (“Discloser”) to the other party (“Recipient”) that is either (a) disclosed orally,
                            visually or in writing and is clearly marked or
                            identified as proprietary or confidential at the time of disclosure; (b) disclosed under
                            conditions or is of such a nature that would reasonably be deemed confidential or
                            proprietary by the Discloser; or (c) acquired while
                            accessing a Party’s site or facility. Confidential Information includes, without limitation,
                            all information relating to existing and potential customers, suppliers, markets, contracts,
                            prices, products, personnel, strategies,
                            policies, systems, procedures, technologies, know-how, data, processes, inventions,
                            research, developments, formulations, applications, methods of manufacture and any other
                            proprietary information of either Party or any of
                            its affiliates.</p>

                        <p><b>Confidentiality and Non-Use.</b> The Parties may use the Confidential Information solely
                            for the Purpose. Recipients will take commercially reasonable precautions to prevent the
                            unauthorized disclosure or use of the Confidential
                            Information. Except as authorized in this Agreement, Recipient will not disclose such
                            Confidential Information to any third party and will not use such Confidential Information
                            to compete with or adversely affect the business
                            or operations of the other Party hereto or its affiliates or those doing business with them.
                            Either Party may disclose Confidential Information to such of its directors, officers and
                            agents and its affiliates (“Representative(s)”)
                            who need to know the Confidential Information in connection with the Purpose, so long as
                            such Representatives agree to be bound by terms no less restrictive than those set forth
                            herein and notifies such Representative of the
                            existence of the confidentiality obligations under this Agreement. Each Party will be
                            responsible for any breach of this Agreement by any Representative. If Recipient has
                            knowledge of the use or disclosure of Confidential Information
                            received from Discloser in a manner that is not permitted under this Agreement, Recipient
                            will give Discloser prompt written notice of the non-complying use or disclosure and will
                            reasonably cooperate with Discloser to regain
                            possession of any Confidential Information improperly delivered and prevent the further
                            unauthorized disclosure or use of that Confidential Information. In the event Recipient
                            receives materials as part of a disclosure, Recipient
                            will not reverse engineer the materials.</p>

                        <p><b>Exclusions.</b> The obligations of confidentiality and non-use set forth herein will not
                            apply when and to the extent that Confidential Information provided to Recipient is (a) in
                            the public domain through no act or failure
                            to act of Recipient; (b) shown by Recipient to have been in its possession at the time of
                            disclosure and was not acquired directly or indirectly from Discloser; (c) obtained by the
                            Recipient from a third party, provided that
                            such third party had no obligation of confidentiality to the Discloser; (d) independently
                            derived by Recipient without use of or access to the Confidential Information provided by
                            Discloser; or (e) ordered by a court of competent
                            jurisdiction to be disclosed, but only after Discloser has been given prior notice of such
                            order in a timely fashion to allow for an objection to be made or protection obtained.</p>

                        <br>

                        <p><b>COMMERCIALS & REFUND POLICY</b></p>
                        <br>

                        <p><b>Consideration.</b> Client agrees to pay a fixed monthly license fee Monthly Subscription
                            Amount, plus applicable taxes, for the use of the Software (“Monthly License Fee”).</p>

                        <p><b>Variable Active Guard Fee.</b> In case the Client needs to schedule more workforce than
                            the aligned Daily Active Users (DAUs), then the Variable Active Guard Fee is charged at the
                            rate of $2/Guard/Day. The Client can alternatively
                            choose to increase the number of aligned Daily Active Users (DAUs).</p>

                        <p><b>Due Date.</b> The Monthly License Fee is due and payable by or on the Effective Date day
                            of each month, for the each upcoming month the Software is licensed under this Agreement.
                            First month fee is due on the Effective Date.</p>

                        <p><b>Late Fee.</b> A 7% late fee will be applied, compounding every 30 days, to any amounts of
                            the Monthly License Fee that is late in payment.</p>

                        <p><b>Currency.</b> All payments due under this Agreement will be paid in USD until unless
                            specified.</p>

                        <p><b>Refund.</b> The fee shall not be adjusted at termination of the agreement, towards the
                            Pre-Closing Refund, and as of the closing the Pre-Closing Refund Amount shall be zero.</p>

                        <br>
                        <p><b>SHIPPING POLICY</b></p>
                        <br>

                        <p><b>Products.</b> This includes but is not limited to items such as NFC tags. The products are
                            non returnable or non refundable.</p>

                        <p><b>Shipping.</b> The products are shipped to the clients upon receipt of the order. The
                            aligned cost of the product and delivery is charged before the products are shipped. The
                            shipment is sent via normal post unless otherwise
                            aligned separately.</p>

                        <br>
                        <p><b>Free Trial and Billing Terms</b></p>

                        <p>We may offer a free trial period to new users, with the duration varying based on promotional
                            offers or eligibility.</p>

                        <p>A valid payment method is required to activate the trial, even though no charges will be
                            applied at the time of signup.</p>

                        <p>Users can cancel the service at any time during the trial by contacting our support team via
                            email at <a class="display-grid" href="mailto:support@novage.ms">support@novage.ms</a>.   No charges will be incurred if cancellation is completed before
                            the trial ends.</p>


                        <p>If a user does not cancel before the trial expires, the payment method on file will be
                            automatically charged based on the selected subscription plan.</p>


                        <p>Low usage or non-usage of the account during the trial or billing period does not exempt the
                            user from charges once the trial has ended and the plan has started.</p>


                        <p>By signing up, you agree to these terms and authorize us to charge your payment method in
                            accordance with your chosen plan after the trial ends.</p>

                        <br>
                        <p><b>Refund & Cancellation Policy</b></p>

                        <p><b>3.1 Termination.</b>

                        <p>Both Parties may terminate this Agreement, the communications by either party hereunder shall
                            be sent by way of overnight mail or electronic mail (unless otherwise specified herein) at
                            least thirty (30) days prior to the next billing date.</p>
                            
                           <p> The fee shall not be adjusted at termination of the agreement, towards the Pre-Closing Refund, and as of the closing the
                            Pre-Closing Refund Amount shall be zero.</p>

                        <p><b>3.2 How to Cancel Your Account?</b></p>

                        <p>To cancel your subscription, please contact our support team directly:</p>

                        <p>Email: support@novage.ms</p>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}