{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="clock-in-out-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top align-items-center">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">Cleaning Business Software to Successfully <span class="color5">your Manage Cleaning Operations</span> </h1>
                            <p>Be one of the top leading cleaning companies with staff scheduling, customized reporting, digital timesheets, invoices and client management</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/cleaning-business-software/Main-image.png" alt="Main-image">
                </div>
            </div>
        </div>

        <div style="margin-top: 90px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center ">
                        <h2>Our Star Cleaning Service Software Features</h2>
                    </div>
                </div>
                <div class="col-md-6 mx-auto text-center">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <a href="#Schedulingtab">
                                <p style="color: #786CE6;"> <b>Scheduling</b></p>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <a href="#Invoicingtab">
                                <p style="color: #F4C043;"><b>Invoicing</b></p>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <a href="#Estimatestab">
                                <p style="color: #dc688e;"><b>Estimating</b></p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mt-5 col-md-10 mx-auto text-center">
                    <p>You can easily run your cleaning company - whether it is commercial cleaning or residential cleaning smoothly. </p>
                    <br>
                    <p>Novagems helps you take care of the whole process from start to finish with an easy-to-use interface that gives a seamless workflow. Stay ahead of the competition and close cleaning contacts easily.
                    </p>
                    <br>
                    <p>The cleaning company software is a complete set of automation tools that makes your company look professional and updated in the highly competitive cleaning industry.</p>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-top: 90px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <p class="subheading color3">Features</p>
                    <h2>Cleaning Business Software With Features</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <a href="#Estimate">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Estimate-icon.svg" alt="Estimate-icon image"></figure>
                            <p class="clients-p">Estimate
                                <br><br></p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <a href="/scheduling">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/Scheduling-e.svg" alt="Scheduling image"></figure>
                            <p class="clients-p">Scheduling<br><br></p>
                        </a>
                    </div>
                </div>


                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <a href="/work-order-management">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Work-Order-Management.svg" alt="Work-Order-Management image"></figure>
                            <p class="clients-p">Work Order
                                <br>Management</p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <a href="#Invoices">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Invoice-icon.svg" alt="Invoice-icon image"></figure>
                            <p class="clients-p">Invoices
                                <br><br></p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <a href="/client-management">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Client-Management.svg" alt="Client-Management image"></figure>
                            <p class="clients-p">Client
                                <br>Management</p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <a href="/instructions-checklist">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Instructions&Checklist.svg" alt="Instructions&Checklist image"></figure>
                            <p class="clients-p">Instructions
                                <br>& Checklist</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- maintenance-log-sheet -->

    <div id="Estimatestab" style="margin-top: 90px;">
        <div class="container">
            <div id="tabses" class="row ">
                <div class="col-lg-6 col-md-6 col-12 ">
                    <div class="img-iped">
                        <div id="tabs-11">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Generate-Accurate-Estimates.png" alt="Generate-Accurate-Estimates"></figure>

                        </div>
                        <div id="tabs-22">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Track-and-record.png" alt="Track-and-record.png"></figure>

                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12 ">
                    <div>
                        <h3>Estimates</h3>
                        <p>Generate accurate estimates with no human error or delays. Make your cleaning company stand out with professional and clean estimates. </p>
                        <h4 class="open-features">Key Features</h4>
                    </div>
                    <ul class="tab-slaider" id="accordiones" role="tablist">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Generate Accurate Estimates</span>
                                </div>
                            </a>
                            <div class="addon fadein addon-h">
                                <span>Create detailed and professional-looking estimates for potential clients quickly and easily.</span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Track And Record</span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>Keep a record of all of the estimates and the conversion rates of the clients easily. With a cleaning business software keep all of the data in one place.</span>
                            </div>
                        </li>
                    </ul>
                    <div class="my-3" style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Check_Point_Tours">
                                <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2" id="btnsunscribe">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- inspection-report -->

    <div id="Schedulingtab" style="margin-top: 90px;">
        <div class="mt-5">
            <div class="container">
                <div id="tabs4" class="row ">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div>
                            <h3>Scheduling</h3>
                            <p>No more scheduling conflicts or headaches with a scheduling software for cleaning business and get done with staff scheduling within minutes! </p>
                            <h4 class="open-features">Key Features</h4>
                        </div>
                        <ul class="tab-slaider" id="accordion4" role="tablist">
                            <li>
                                <a class="step circle active" href="#tabs-1">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">Drag-and-Drop Functionality</span>
                                    </div>
                                </a>
                                <div class="addon fadein addon-h">
                                    <span>Effortlessly schedule your cleaning crew appointments by dragging and dropping them into the desired time slots, minimizing scheduling conflicts.</span>
                                </div>
                            </li>

                            <li>
                                <a href="#tabs-2">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">Automated Reminders</span>
                                    </div>
                                </a>
                                <div class="addon addon-h">
                                    <span>Send automated reminders to your staff, reduce no-shows, and keep appointments on schedule. Novagems’ cleaning company software sends real-time notifications to your cleaning staff.</span>
                                </div>
                            </li>
                        </ul>
                        <div class="my-3" style="margin-left: 0px;">
                            <div class="footer-newsletter features-newsletter">
                                <form id="Smart_Response">
                                    <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                                    <input type="submit" value="Get Started for Free" class="background2">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 employee-scheduling-phone">
                        <div class="img-iped">


                            <div id="tabs-1">
                                <figure><img src="/images/novagems-img/cleaning-business-software/Drag-and-Drop-Functionality.png" alt="Drag-and-Drop-Functionality"></figure>

                            </div>
                            <div id="tabs-2">
                                <figure><img src="/images/novagems-img/cleaning-business-software/Automated-Reminders.png" alt="Automated-Reminders"></figure>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- work-order-management -->

    <div style="margin-top: 90px;">
        <div class="container">
            <div id="tabs3" class="row ">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="img-iped">
                        <div id="tabs-11">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Create-Work-Orders.png" alt="Create-Work-Orders"></figure>

                        </div>
                        <div id="tabs-22">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Assign-task.png" alt="Assign-task"></figure>

                        </div>
                        <div id="tabs-33">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Attach-Documents.png" alt="Attach-Documents"></figure>

                        </div>

                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div>
                        <h3>Work Order Management</h3>
                        <p>Generate detailed work orders for your cleaning staff with cleaning business software that helps manage operations seamlessly and efficiently. </p>
                        <h4 class="open-features">Key Features</h4>
                    </div>
                    <ul class="tab-slaider" id="accordion3" role="tablist">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Create Work Orders</span>
                                </div>
                            </a>
                            <div class="addon fadein addon-h">
                                <span>Generate detailed work orders for your cleaning staff, outlining specific tasks, locations, and client instructions.</span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Assign Tasks</span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>Assign tasks to individual team members and track their progress in real time to ensure timely completion.
                                </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-33">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Attach Documents</span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>Attach important documents or images after the job is done for easy reference.</span>
                            </div>
                        </li>
                    </ul>
                    <div class="my-3" style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Mobile_Patrol">
                                <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- instructions-&-checklist-->
    <div id="reporting" style="margin-top: 90px;">
        <div id="Invoicingtab" class="mt-5">
            <div class="container">
                <div id="tabs" class="row ">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div>
                            <h3>Invoices</h3>
                            <p>Novagems is committed to helping you take care of your whole business operations from start to finish. The most distinctive feature of the best software for cleaning business is generating professional invoices. </p>
                            <h4 class="open-features">Key Features</h4>
                        </div>
                        <ul class="tab-slaider" id="accordion" role="tablist">
                            <li>
                                <a class="step circle active" href="#tabs-1">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">Generate Professional Invoices</span>
                                    </div>
                                </a>
                                <div class="addon fadein addon-h">
                                    <span>Create professional-looking invoices with customizable templates that reflect your brand identity. Set your cleaning company apart from the crowd and turn your customers into loyal community members.
                                    </span>
                                </div>
                            </li>

                            <li>
                                <a href="#tabs-2">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">Billing Transparency</span>
                                    </div>
                                </a>
                                <div class="addon addon-h">
                                    <span>Create a transparent culture between your company and clients. This builds trust and a reputed image in the cleaning industry. The interface makes it easy for the clients to see what they are paying for.
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="my-3" style="margin-left: 0px;">
                            <div class="footer-newsletter features-newsletter">
                                <form id="custom_incident_report">
                                    <input type="email" id="custom-incident-report" name="custom-incident-report" placeholder="Enter your email address">
                                    <input type="submit" value="Get Started for Free" class="background2">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12  employee-scheduling-phone">
                        <div class="img-iped">


                            <div id="tabs-1">
                                <figure><img src="/images/novagems-img/cleaning-business-software/Generate-Professional-Invoices.png" alt="Generate-Professional-Invoices"></figure>

                            </div>
                            <div id="tabs-2">
                                <figure><img src="/images/novagems-img/cleaning-business-software/Billing-Transparency.png" alt="Billing-Transparency"></figure>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- client-management-->

    <div style="margin-top: 90px;">
        <div class="container">
            <div id="tabs5" class="row ">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="img-iped">
                        <div id="tabs-11">
                            <figure><img src="/images/novagems-img/cleaning-business-software/A-Centralized-Place-For-The-Data.png" alt="A-Centralized-Place-For-The-Data"></figure>

                        </div>
                        <div id="tabs-22">
                            <figure><img src="/images/novagems-img/cleaning-business-software/A-Centralized-Place-For-The-Data.png" alt="Attach-before-and-after-photos"></figure>

                        </div>

                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div>
                        <h3>Client Management</h3>
                        <p>Be the choice of any cleaning company that is looking for a ‘clean cleaning service’. Look professional, turn your potential customers into loyal clients, and stand out of the crowd!</p>
                        <h4 class="open-features">Key Features</h4>
                    </div>
                    <ul class="tab-slaider" id="accordion5" role="tablist">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">A Centralized Place For The Data</span>
                                </div>
                            </a>
                            <div class="addon fadein addon-h">
                                <span>As your company grows, so will your client base. Be ready for the incoming cleaning contracts and store all of the data in one place. Our system will help you track the contracts, clients, tasks, and cleaning jobs assigned all in one place. </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Visual Representation Of The Job Well Done</span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>Give proof and show progress by sending reports with images of before and after attached. This builds credit and shows how neat the place is after your crew leaves.</span>
                            </div>
                        </li>
                    </ul>
                    <div class="my-3" style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Dashboard_Analytics">
                                <input type="email" id="Dashboard-Analytics" name="Dashboard-Analytics" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------- -->
    <div id="Estimate" style="margin-top: 90px;">
        <div class="container">
            <div id="tabs7" class="row ">

                <div class="col-lg-6 col-md-6 col-12">
                    <div>
                        <h3>Instructions & Checklists</h3>
                        <p>Make your managers' and cleaners' work easy with a detailed list of instructions and checklists. Get work done in an orderly manner with our cleaning business software. </p>
                        <h4 class="open-features">Key Features</h4>
                    </div>
                    <ul class="tab-slaider" id="accordion7">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Give Direct Instructions and Duties </span>
                                </div>
                            </a>
                            <div class="addon fadein addon-h">
                                <span>Many clients may have specific requirements as per their cleaning needs. Make your work easy by maintaining a list of all the tasks the crew needs to perform. If your cleaning staff is working on different and multiple tasks it is easy to forget about it. But not anymore with our software!
                                </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Easy To Use Templates For Quicker & Quality Service </span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>You do not have to spend any extra minutes making multiple task lists and instructions for your staff. Use our premade templates that will allow the staff to just ‘check’ the list when the job is done.
                                </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-33">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Track Task Progress</span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>The system allows you to track and see the progress in real-time so that you do not have to call up your cleaners every 30 minutes! You can track the progress of cleaning services provided from anywhere! Once the checklists are done, the managers can track and record the work.</span>
                            </div>
                        </li>

                    </ul>
                    <div class="my-3" style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Mobile_Patrol">
                                <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="img-iped">
                        <div id="tabs-11">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Give-Direct-Instructions-and-Duties.png" alt="Give-Direct-Instructions-and-Duties"></figure>
                        </div>
                        <div id="tabs-22">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Easy-To-Use-Templates-For-Quicker&Quality-Service.png" alt="Easy-To-Use-Templates-For-Quicker&Quality-Service"></figure>
                        </div>
                        <div id="tabs-33">
                            <figure><img src="/images/novagems-img/cleaning-business-software/Track-Task-Progress.png" alt="Track-Task-Progress"></figure>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------ -->
    <!-- -------------- -->

    <div class="bottombg">
        <div class="container-fluid my-5 example">
            <div class="row">
                <div class="col-md-12 mt-5 mb-5 text-center ">
                    <p class="subheading tex-h color4">Our customer reviews</p>
                    <h3 class="hero-h1">Join 100,000+ highly productive team members</h3>
                </div>
            </div>

            <div>
                {{- partial "customerReviews.html" . -}}
            </div>
        </div>


        <div class="whychoose mt-5 mb-5">
            <div class="container">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-12 text-center mt-5 mb-2">
                            <p class="subheading tex-h color2">Knowledge</p>
                            <h3>Interesting Topics</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>
                                <div class="owl-carousel owl-theme">
                                    {{ if .Params.cleaningcompany }} {{ range .Params.cleaningcompany }}
                                    <div class="item">
                                        <div class="grids">
                                            <div class="choosecontent text-center mb-5">
                                                <h5>{{.title}}</h5>
                                                <p>{{.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }} {{ else }} {{ range .Site.Data.cleaningcompany.items }}

                                    <div class="item">
                                        <div class="grids">
                                            <div class="choosecontent text-center mb-5">
                                                <h5>{{.title}}</h5>
                                                <p>{{.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{end}} {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div> {{- partial "faq.html" . -}}</div>
    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}