<!DOCTYPE html>

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
    <div class="mt-3">
        <div class=" container  ">
            <div class="col-lg-8 col-md-12 col-12 mx-auto">
                <div class="col-md-12 text-center my-3">
                    <a href="/"><img src='{{ .Site.Params.logo | relURL}}' alt="logo "></a>
                </div>
                <div class="row book-a-demo1 p-0">
                    <div class="col-md-6 p-0">
                        <img class="book-a-demo1-img" src="/images/novagems-img/Free-Trial-banner.png" alt="Free-Trial-banner.png">
                    </div>
                    <div class="col-md-6 business-growth">
                        <div class="mt-3">
                            <h1 class="book-a-demo-h3 book-a-demo-tab mb-2"><b>Simplify Operations & Amplify Profits. Connect with Novagems Now!</b></h1>

                            <form id="get-started-for-free-demo"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{- partial "script.html" . -}}
</body>

</html>