 {{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="free-trial-top">
        <div class="container">

            <div class="row mt-5 align-items-end">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <h1 class="hero-h1">37% OFF - Limited time <br/> Best Security Guard Management Software</h1>
                        <p>All-In-One Impress your prospects by showcasing the tech-infused side of your security business! Our guard management software helps you manage everything at your fingertips.</p>
                    </div>
                    <div class="mt-3">
                        <img src="/images/novagems-img/37-off-image.png" alt="37-off-image">
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12 img-iped-head">
                    <div class="clients-blog book-a-demo-form">
                        <h6>Discount 37% OFF </h6>
                        <form id="discount37off"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- schedule Section -->
    <div>
        <div class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Famous features among 1000+ Clients</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/Scheduling-e.svg" alt="Scheduling"></figure>
                            <p class="clients-p">Simple <br> Scheduling</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/task&Post.svg" alt="task&Post"></figure>
                            <p class="clients-p">Time <br>Tracking</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/Attendance-Management-retail.png" alt="gps-geofence"></figure>
                            <p class="clients-p">Attendance <br> Management</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/Clock.svg" alt="Clock"></figure>
                            <p class="clients-p">GPS <br> tracking</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/Timesheet.svg" alt="Timesheet"></figure>
                            <p class="clients-p">Mobile Clock <br> in/out</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center" style="padding: 30px 10px;">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Maintenance-Log-Sheet.svg" alt="Maintenance-Log-Sheet image"></figure>
                            <p class="clients-p">Break and Vacation Planning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features-among">
            <div class="container">
                <div class="col-md-6 mx-auto">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6 mt-3">
                            <div class="clients text-center">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/cleaning-company/Inspection-Report.svg" alt="Inspection-Report image"></figure>
                                <p class="clients-p">Alerts and <br> Notifications</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-6 mt-3">
                            <div class="clients text-center">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/GPS-tracking-retail.svg" alt="Client-Management image"></figure>
                                <p class="clients-p">GPS <br> tracking</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-6 mt-3">
                            <div class="clients text-center">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/Custom-Dashboards-retail.svg" alt="gps-geofence"></figure>
                                <p class="clients-p">Custom <br> Dashboards</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-lg-6 col-md-8 col-12 mx-auto my-5">
                <div class="footer-newsletter">
                    <form id="get-started-for-free">
                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                        <input class="home-btn" type="submit" value="Get Started for Free">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------- -->
    <div class=" pb-4">
        <div class="container-fluid  example">
            <div class="row">
                <div class="col-md-12 mt-5 mb-2 text-center ">
                    <p class="subheading tex-h color4">Our customer reviews</p>
                    <h3 class="hero-h1">Join 100,000+ highly productive team members</h3>
                </div>
            </div>

            <div>
                {{- partial "customerReviews.html" . -}}
            </div>
        </div>
        <div class="d-flex justify-content-center  gap-3 text-center">
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/google.png" alt="google">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/getapp.png" alt="getapp">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/capterra.png" alt="capterra">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/g2.png" alt="g2">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/software.png" alt="software">
            </div>
        </div>

    </div>
    <!-----------Section-------------->

    <!-- Home Grid Section -->
    <div class="pb-5">
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-md-12 mb-3 mt-5 text-center">
                    <p class="subheading tex-h " style="color: #F2845F;">WHY NOVAGEMS?</p>
                    <h2 class="Workforce-h2">Power, Simplicity & Support</h2>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/support-24.png" | absURL}}' alt="support-24"></figure>
                        <div>
                            <h5>24/7 <br> Support</h5>
                        </div>
                        <p>Get Round-The-Clock Assistance Whenever You Need It</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/free-trainings.png" | absURL}}' alt="free-trainings"></figure>
                        <div>
                            <h5>Free Training & Built-In <br> Learning Videos</h5>
                        </div>
                        <p>Seamless Onboarding With Step-By-Step Guides And In-App Tutorials.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Fast-implementation.png" | absURL}}' alt="Fast-implementation"></figure>
                        <div>
                            <h5>Fast <br> Implementation</h5>
                        </div>
                        <p>Set Up And Start Managing Your Workforce In No Time.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Custom-customization.png" | absURL}}' alt="Custom-customization"></figure>
                        <div>
                            <h5> Web & Mobile <br> Accessibility</h5>
                        </div>
                        <p>Manage Your Team Anytime, Anywhere With Our Mobile And Web Apps.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-----------Section-------------->
    <div>
        {{- partial "newsletterpage.html" . -}}
    </div>
    <!-----------Section-------------->
    <div class="bg-white pt-5 Industrysection">
        <div class="bg-Industry"></div>
        <div class=" container">
            <div class="col-md-9 mx-auto">
                <div class="text-center">
                    <h3 class="Workforce-h2">Employee Scheduling Software For Every Industry</h3>
                    <p>Built For Teams Of All Sizes, Novagems Helps Businesses Streamline Scheduling, Time Tracking, And Workforce Management. See How Companies Like Yours Are Benefiting.</p>
                    <p><a style="color: #786CE6 !important;" href="/customer-stories/">Read Real Stories <img src="/images/novagems-img/novagemsv2/read.png" alt=""></a></p>
                </div>
                <div class="row my-5">
                    <div class="col-md-4 col-12 cardstories-top-phone">
                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                            <img style="border-radius: 20px 20px 0px 0px;width: 100%;" src="/images/novagems-img/novagemsv2/customer-stories/ugs.png" alt="" />
                            <div class="pl-2 pr-2 pt-2 pb-2">
                                <p> <b>UGS Security </b></p>
                                <p class="mt-2 mb0">750 Employees</p>
                                <a style="color: #786CE6;text-decoration: underline;" href="/customer-stories/ugs-security" class="link b dib black mb-5 color5 pb-3">Read Story</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                            <img style="border-radius: 20px 20px 0px 0px;    width: 100%;" src="/images/novagems-img/novagemsv2/Industry2.png" alt="" />
                            <div class="pl-2 pr-2 pt-2 pb-2">
                                <p> <b>Securiwatch </b></p>
                                <p class="mt-2 mb0">1,500+ Employees</p>
                                <a style="color: #786CE6;text-decoration: underline;" href="/customer-stories/securi-watch-security/" class="link pt-4">Read Story</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 cardstories-top-phone">
                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                            <img style="border-radius: 20px 20px 0px 0px;width: 100%;" src="/images/novagems-img/novagemsv2/customer-stories/Industry3.png" alt="" />
                            <div class="pl-2 pr-2 pt-2 pb-2">
                                <p> <b>Cworth Development </b></p>
                                <p class="mt-2 mb0">100+ Employees</p>
                                <a style="color: #786CE6;text-decoration: underline;" href="/customer-stories/cworth-developments/" class="link mt-3 ">Read Story</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .get37-pop>span {
        font-size: 16px;
        font-weight: 400;
        float: left;
        margin-top: 15px;
    }
    
    .get37-pop>span:nth-child(odd) {
        float: right;
    }
    
    .blog-pop-cus .close-blog {
        border-radius: 50%;
        display: block;
        z-index: 999;
        opacity: 1;
        border: none;
        font-size: 27px;
        clear: both;
        line-height: 30px;
        background-color: #fff;
        box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 0;
        position: absolute;
        right: -15px;
        font-weight: 700;
        top: -15px;
        color: red !important;
    }
    
    .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        pointer-events: auto;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        margin: 0 auto;
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff !important;
        background-color: transparent !important;
        background-clip: padding-box;
        border: 1px solid #fff;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        height: 40px;
    }
    
    input::placeholder {
        color: #A5A5A5 !important;
    }
    
    .text-pd {
        padding: 0 77px;
    }
    
    .pop-top {
        padding-top: 30px;
    }
    
    .save-nov-pop {
        font-size: 24px;
        padding-top: 70px;
    }
    
    .get37-pop {
        font-size: 45px;
        font-weight: 800;
        color: #4694EB;
        display: inline-block;
        margin: 0 auto;
    }
    
    .profile img {
        width: 170px;
        height: 170px;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    
    .card-pop {
        border-radius: 15px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
        background-color: #fff;
        max-width: 450px;
        width: 100%;
    }
    
    .card-body-pop {
        position: relative;
    }
    
    .btn {
        background-color: #DC688E;
        border: none;
        color: #fff
    }
    
    .btn:hover {
        background-color: #DC688E;
        border: none;
        color: #fff
    }
    
    .card-footer {
        margin-top: 0;
        padding: 0px;
        background-color: transparent;
        border-top: 0px solid rgba(0, 0, 0, .125);
    }
    
    div#bookAdemopop .card-content {
        width: 450px;
        background: url(../images/novagems-img/Black-friday-bg.png) no-repeat;
        background-position: center;
        border-radius: 10px;
        background-size: cover;
    }
    
    div#bookAdemopop .modal-dialog {
        position: relative;
        top: 50%;
        transform: translateY(-50%) !important;
    }
    
    .row.sub-text>div {
        padding: 0;
    }
    
    @media screen and (max-width:767px) {
        .profile img {
            width: 100px;
            height: 100px;
            top: -50px;
            left: 50%;
            transform: translate(-50%, 0px);
        }
        .blog-pop-cus .close-blog {
            right: -6px;
            top: -19px;
        }
        .modal-content {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            max-width: 500px;
            pointer-events: auto;
            background-color: transparent;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 0.3rem;
            outline: 0;
            margin: 0 auto;
        }
        .text-pd {
            padding: 0 30px;
        }
        .save-nov-pop {
            font-size: 16px;
            padding-top: 60px;
        }
        .get37-pop {
            font-size: 34px;
            font-weight: 600 !important;
            color: #4694EB;
            margin: 0;
            padding: 0;
        }
        .card-pop {
            border-radius: 15px;
            box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
            background-color: #fff;
            max-width: 500px;
            width: 100%;
        }
        .btn {
            background-color: #DC688E;
            border: none;
            color: #fff
        }
        .btn:hover {
            background-color: #DC688E;
            border: none;
            color: #fff
        }
        div#bookAdemopop .card-content {
            width: 100%;
            background: #fff;
            border-radius: 10px;
        }
        div#bookAdemopop .modal-dialog {
            position: relative;
            top: 50%;
            transform: translateY(-50%) !important;
        }
        .row.sub-text>div {
            padding: 0;
        }
        .get37-pop>span {
            font-weight: 400;
            float: left;
            margin-top: 0;
            font-size: 12px;
            line-height: 20px;
        }
    }
</style>



{{end}}