{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="clock-in-out-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top align-items-center">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">Simplified <span class="color5">Attendance Management System</span> for Field Services </h1>
                            <p>Increase your workforce productivity with easy employee monitoring, real-time tracking, customized reporting and task management</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/attendance-management-system/attendance-management-system.png" alt="Main-image">
                </div>
            </div>
        </div>


        <div style="margin-top: 90px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center ">
                        <p class="subheading color3">Features</p>
                        <h2>Services management software for any industry to <br> prevent time theft and boost sales </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-21 col-md-1 col-12 mt-3"></div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <a href="#Employee-Monitoring-System">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/attendance-management-system/Employee-Monitoring-System.svg" alt="Estimate-icon image"></figure>
                                <p class="clients-p">Employee <br>Monitoring System
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <a href="#Location-Based-Tracking">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/attendance-management-system/Location-Based-Tracking.svg" alt="Scheduling image"></figure>
                                <p class="clients-p">Location <br>Based Tracking <br> <br></p>
                            </a>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <a href="#Workforce-Scheduling">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/attendance-management-system/Workforce-Scheduling.svg" alt="Work-Order-Management image"></figure>
                                <p class="clients-p">Work Order
                                    <br>Management <br> <br></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <a href="#Task-Management">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/attendance-management-system/Task-Management.svg" alt="Invoice-icon image"></figure>
                                <p class="clients-p">Task <br>Management
                                    <br><br></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <a href="#Reporting">
                                <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/attendance-management-system/Reporting.svg" alt="Client-Management image"></figure>
                                <p class="clients-p">Reporting
                                    <br><br> <br></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-12 mt-3"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- maintenance-log-sheet -->

    <div id="Employee-Monitoring-System" style="margin-top: 90px;">
        <div class="container">
            <div id="tabses" class="row ">
                <div class="col-lg-6 col-md-6 col-12 ">
                    <div class="img-iped">
                        <div id="tabs-11">
                            <figure><img src="/images/novagems-img/attendance-management-system/Checkinout.png" alt="Checkinout"></figure>

                        </div>
                        <div id="tabs-22">
                            <figure><img src="/images/novagems-img/attendance-management-system/Breakinout.png" alt="Breakinout"></figure>

                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12 ">
                    <div>
                        <h3>Employee Monitoring System</h3>
                        <p>With an advanced attendance management system keep track of your employees and prevent time theft. Novagems provides an employee attendance application with complete features that ensure employees are where they need to be. </p>
                        <h4 class="open-features">Key Features</h4>
                    </div>
                    <ul class="tab-slaider" id="accordiones" role="tablist">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Check-in/out</span>
                                </div>
                            </a>
                            <div class="addon fadein addon-h">
                                <span>Keep an error-free record of the attendance of your employees and always make your staff feel safe from understaffing. Know when your employees are starting their shifts, how much time they spend on one task, and when logging out. </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Break-in/out </span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>Manage and record the break times in an easy-to-use interface and prevent employee burnout. Track breaks accordingly and boost the overall efficiency of the employees. </span>
                            </div>
                        </li>
                    </ul>
                    <div class="my-3" style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Check_Point_Tours">
                                <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2" id="btnsunscribe">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- inspection-report -->

    <div id="Location-Based-Tracking" style="margin-top: 90px;">
        <div class="mt-5">
            <div class="container">
                <div id="tabs4" class="row ">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div>
                            <h3>Location Based Tracking</h3>
                            <p>Enhance security and accountability with staff location tracking to keep an account that your staff is where they need to be. Get instant updates if they leave the premises. </p>
                            <h4 class="open-features">Key Features</h4>
                        </div>
                        <ul class="tab-slaider" id="accordion4" role="tablist">
                            <li>
                                <a class="step circle active" href="#tabs-1">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">GPS Tracking</span>
                                    </div>
                                </a>
                                <div class="addon fadein addon-h">
                                    <span>Get real-time updates and tracks of the employees when they are in the field. Have a connected team with Novagems field employee tracking app. </span>
                                </div>
                            </li>

                            <li>
                                <a href="#tabs-2">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">Geofencing</span>
                                    </div>
                                </a>
                                <div class="addon addon-h">
                                    <span>Create a virtual boundary around your employees' working premises and get instant updates if and when they cross it. Protect the employees and the company against any false claims. </span>
                                </div>
                            </li>
                        </ul>
                        <div class="my-3" style="margin-left: 0px;">
                            <div class="footer-newsletter features-newsletter">
                                <form id="Smart_Response">
                                    <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                                    <input type="submit" value="Get Started for Free" class="background2">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 employee-scheduling-phone">
                        <div class="img-iped">


                            <div id="tabs-1">
                                <figure><img src="/images/novagems-img/attendance-management-system/Gps-tracking.png" alt="Gps-tracking"></figure>

                            </div>
                            <div id="tabs-2">
                                <figure><img src="/images/novagems-img/attendance-management-system/Geofencing.png" alt="Geofencing"></figure>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- work-order-management -->

    <div id="Workforce-Scheduling" style="margin-top: 90px;">
        <div class="container">
            <div id="tabs3" class="row ">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="img-iped">
                        <div id="tabs-11">
                            <figure><img src="/images/novagems-img/attendance-management-system/Shift-Planning.png" alt="Shift-Planning"></figure>

                        </div>
                        <div id="tabs-22">
                            <figure><img src="/images/novagems-img/attendance-management-system/Shift-Templates.png" alt="Shift-Templates"></figure>

                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div>
                        <h3>Workforce Scheduling</h3>
                        <p>Still stuck in manual scheduling that is taking hours of your time? Now you do not have to fear manual errors. Novagems scheduling software for service business is specially made to make scheduling easy for better management of
                            the workforce.</p>
                        <h4 class="open-features">Key Features</h4>
                    </div>
                    <ul class="tab-slaider" id="accordion3" role="tablist">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Shift Planning</span>
                                </div>
                            </a>
                            <div class="addon fadein addon-h">
                                <span>Avoid last-minute cancellations and be prepared for anything. Easily create the employee's schedule. Schule jobs, assign tasks and manage the workload with Novagem's best field service management software.
                                </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Shift Templates</span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>Create schedules on the go with mobile-friendly interfaces. Publish shifts anywhere and keep everyone on the same page with instant notifications and reminders. Never miss an update!</span>
                            </div>
                        </li>


                    </ul>
                    <div class="my-3" style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Mobile_Patrol">
                                <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- instructions-&-checklist-->
    <div id="Task-Management" style="margin-top: 90px;">
        <div id="Invoicingtab" class="mt-5">
            <div class="container">
                <div id="tabs" class="row ">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div>
                            <h3>Task Management</h3>
                            <p>Streamline your operations with easy-to-use tools. Assign, track, and manage tasks efficiently to keep your projects on track. Boost client satisfaction and create a name in the industry. </p>
                            <h4 class="open-features">Key Features</h4>
                        </div>
                        <ul class="tab-slaider" id="accordion" role="tablist">
                            <li>
                                <a class="step circle active" href="#tabs-1">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">Task Assignment and Tracking</span>
                                    </div>
                                </a>
                                <div class="addon fadein addon-h">
                                    <span>Assign tasks and keep a check on the activities of the staff. This helps you boost productivity and overall efficiency. Create a detailed list of instructions and check the progress in real time. 
                                    </span>
                                </div>
                            </li>

                            <li>
                                <a href="#tabs-2">
                                    <div class="tag">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                        <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                        <span class="title headimg-color">Attach Documents</span>
                                    </div>
                                </a>
                                <div class="addon addon-h">
                                    <span>Attach important documents or images after the job is done for easy reference. This helps in creating references for the tasks well done. 
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="my-3" style="margin-left: 0px;">
                            <div class="footer-newsletter features-newsletter">
                                <form id="custom_incident_report">
                                    <input type="email" id="custom-incident-report" name="custom-incident-report" placeholder="Enter your email address">
                                    <input type="submit" value="Get Started for Free" class="background2">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12  employee-scheduling-phone">
                        <div class="img-iped">


                            <div id="tabs-1">
                                <figure><img src="/images/novagems-img/attendance-management-system/Task-Assignment-Tracking.png" alt="Task-Assignment-Tracking"></figure>

                            </div>
                            <div id="tabs-2">
                                <figure><img src="/images/novagems-img/attendance-management-system/Attach-Documents.png" alt="Attach-Documents"></figure>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- client-management-->

    <div id="Reporting" style="margin-top: 90px;">
        <div class="container">
            <div id="tabs5" class="row ">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="img-iped">
                        <div id="tabs-11">
                            <figure><img src="/images/novagems-img/attendance-management-system/Customizable-Reports.png" alt="Customizable-Reports"></figure>

                        </div>
                        <div id="tabs-22">
                            <figure><img src="/images/novagems-img/attendance-management-system/Eliminate-Paperwork.png" alt="Eliminate-Paperwork"></figure>

                        </div>

                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div>
                        <h3>Reporting</h3>
                        <p>Our attendance management system provides a complete set of reporting tools to keep everything organized. This helps you make informed decisions regarding the company. </p>
                        <h4 class="open-features">Key Features</h4>
                    </div>
                    <ul class="tab-slaider" id="accordion5" role="tablist">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Customizable Reports</span>
                                </div>
                            </a>
                            <div class="addon fadein addon-h">
                                <span>Ensure quality services by your employees with instant report creation. Send the reports easily to clients that are auto-generated while your staff IS at work. </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src="/images/novagems-img/dot.svg" alt="dot">
                                    <span class="title headimg-color">Eliminate Paperwork </span>
                                </div>
                            </a>
                            <div class="addon addon-h">
                                <span>No need to collect tons of data when you have modernized software to help you. Quickly access employee documents, reports, and schedules, and use the advantages of digitalization to create a better work environment. Know whether your employees are working efficiently
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="my-3" style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Dashboard_Analytics">
                                <input type="email" id="Dashboard-Analytics" name="Dashboard-Analytics" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------- -->

    <div class="bottombg">
        <div class="container-fluid my-5 example">
            <div class="row">
                <div class="col-md-12 mt-5 mb-5 text-center ">
                    <p class="subheading tex-h color4">Our customer reviews</p>
                    <h3 class="hero-h1">Join 100,000+ highly productive team members</h3>
                </div>
            </div>

            <div>
                {{- partial "customerReviews.html" . -}}
            </div>
        </div>


        <div class="whychoose mt-5 mb-5">
            <div class="container">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-12 text-center mt-5 mb-2">
                            <p class="subheading tex-h color2">Knowledge</p>
                            <h3>Interesting Topics</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>
                                <div class="owl-carousel owl-theme">
                                    {{ if .Params.attendanceMS }} {{ range .Params.attendanceMS }}
                                    <div class="item">
                                        <div class="grids">
                                            <div class="choosecontent text-center mb-5">
                                                <h5>{{.title}}</h5>
                                                <p>{{.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }} {{ else }} {{ range .Site.Data.attendanceMS.items }}

                                    <div class="item">
                                        <div class="grids">
                                            <div class="choosecontent text-center mb-5">
                                                <h5>{{.title}}</h5>
                                                <p>{{.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{end}} {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div> {{- partial "faq.html" . -}}</div>
    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}