{{ define "main" }}
<div>
    <div class="container example">
        <div class="row header-subwrapper-v2">
            <div class="col-lg-6 col-md-7 col-12">
                <div>
                    <div>
                        <p class="subheading tex-h mb-0" style="color: #F2845F;">TIME TRACKING & ATTENDANCE</p>
                        <h1 class="hero-h1 mb-1">Accurate Hours, Seamless Payroll</h1>
                        <p class="subheading  mb-0" style="color: #F2845F;">Clock in/out, monitor attendance, and track overtime with precision.</p>
                        <p class="mt-1">Effortlessly track employee work hours, breaks, and overtime with real-time monitoring and automation. Ensure payroll accuracy and compliance while preventing time fraud.</p>
                    </div>
                    <div class="my-5">
                        <div class="footer-newsletter">
                            <form id="get-started-for-free">
                                <input type="email" id="email" name="email" placeholder="Enter your email address">
                                <input class="home-btn" type="submit" value="Get Started for Free">
                            </form>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        {{- partial "clients.html" . -}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-12 text-center">
                <img src="/images/novagems-img/novagemsv2/time-tracking/time-tracking-banner.png" alt="novagems-head">
            </div>
        </div>
    </div>
    <!-----------Section-------------->
    <div class="clearfix"></div>

    <div class="bgv2 ">
        <div class="container py-5">
            <div class="text-center">
                <h2>Key Features</h2>
            </div>

            <div class="d-flex flex-wrap justify-content-center mt-4" style="gap: 10px;">
                <div class="feature-card" style="border: 1px solid #48D0C8;">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/time-tracking/Clock-InOut.png" | absURL}}' alt="Scheduling">
                    <p class="feature-text">Clock-In/Out</p>
                </div>
                <div class="feature-card" style="border: 1px solid #50C25F;">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/time-tracking/Monitor attendance.png" | absURL}}' alt="Task & Post">
                    <p class="feature-text">Monitor attendance</p>
                </div>
                <div class="feature-card" style="border: 1px solid #00A8FF;">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/time-tracking/Break & Overtime Tracking.png" | absURL}}' alt="GPS Geofence">
                    <p class="feature-text">Break & Overtime Tracking</p>
                </div>
                <div class="feature-card" style="border: 1px solid #F4C043;">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/time-tracking/Timesheet Approvals & Payroll Export.png" | absURL}}' alt="Clock In/Out">
                    <p class="feature-text">Timesheet Approvals & <br> Payroll Export</p>
                </div>
                <div class="feature-card" style="border: 1px solid #F2845F; ">
                    <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/time-tracking/Real-Time Activity Alerts.png" | absURL}}' alt="Timesheet">
                    <p class="feature-text">Real-Time Activity Alerts</p>
                </div>
            </div>
        </div>
    </div>
    <!-----------Section-------------->
    <div class="mt-4">
        <div class="container">
            <div class="text-center">
                <h2 class="Workforce-h2">A Smarter Way to Track Time & Attendance</h2>
            </div>
            <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12">
                    <h2 class="mb-2 color1">Clock-In/Out</h2>
                    <p>Allow Employees To Clock In And Out Directly From Their Mobile Devices Without Delays Or Manual Paperwork. With GPS-Enabled Mobile Clock-Ins, Managers Can Ensure Employees Are At The Right Location When Starting Their Shifts.</p>
                </div>
                <div class="col-md-6 col-12 text-center">
                    <figure><img style="width: 70%;" class="tab-card-img" src="/images/novagems-img/novagemsv2/time-tracking/Clock-InOut1.png" alt="Schedule-Management"></figure>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-12 text-center">
                    <figure><img style="width: 70%;" class="tab-card-img" src="/images/novagems-img/novagemsv2/time-tracking/Real-Time Activity Alerts2.png" alt="Task-and-post-order"></figure>
                </div>
                <div class="col-md-6 col-12">
                    <h2 class="mb-2 color2">Monitor Attendance</h2>
                    <p>Stay In Control Of Workforce Attendance With Secure, Real-Time Tracking. Prevent Unauthorized Check-Ins With GPS-Based Tracking And Automated Attendance Logs. Managers Can View Who Is On-Site, Track Late Arrivals, And Ensure Every
                        Shift Is Properly Covered.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-tp">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-12">
                    <h2 class="mb-2 color1">Break & Overtime Tracking</h2>
                    <p>Employees Can Log Their Breaks Directly In The System, And Overtime Hours Are Automatically Calculated Based On Actual Worked Hours. This Prevents Payroll Disputes, Ensures Fair Compensation, And Keeps Managers Informed Of Overtime
                        Trends Before Costs Escalate.</p>
                </div>
                <div class="col-md-6 col-12 text-center">
                    <figure><img style="width: 70%;" src="/images/novagems-img/novagemsv2/time-tracking/Break & Overtime Tracking2.png" alt="GPS-Track-Geofence"></figure>
                </div>
            </div>
        </div>
    </div>
    <!-----------Section-------------->
    <!-----------Section-------------->

    <div class="Managing-sec">
        <div class="container mt-5">
            <div class="testimonial-wrapper">
                <div class="quote-left"><img src="/images/novagems-img/novagemsv2/quote-left.png" alt="Clock-In-Out"></div>
                <div class="testimonial-container">
                    <div class="testimonial-image">
                        <img src="/images/novagems-img/novagemsv2/feature/Collin-Friez.png" alt="Clock-In-Out">
                    </div>
                    <div class="testimonial-text">
                        <p class="testimonial-message">
                            “Novagems Completely Changed How We Manage Our Job Site Crews. We Now Assign Workers More Effectively, Track Hours Better, And Keep Payroll Accurate. ”
                        </p>
                        <p class="testimonial-author">- Collin Friez, Owner</p>
                    </div>
                </div>
                <div class="quote-right"><img src="/images/novagems-img/novagemsv2/quote-right.png" alt="Clock-In-Out"></div>
            </div>
        </div>
    </div>
    <!-- Complete workforce management for security guard companies -->
    <div>
        {{- partial "newsletterpage2.html" . -}}
    </div>
    <!-- Complete workforce management for security guard companies -->
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 text-center">
                <figure class="allimgphonecenter"><img src="/images/novagems-img/novagemsv2/time-tracking/Timesheet & Payroll Export.png" alt="Custom-incident-Reports"></figure>
            </div>
            <div class="col-md-6 col-12">
                <h2 class="mb-2 color2">Timesheet & Payroll Export</h2>
                <p>With Just A Few Clicks, Export Payroll-Ready Data That Integrates Smoothly With Your Other System. The Managers Can Calculate The Actual Working Hours And Have All Of The Data In One Place. With The Bulk Export Feature, You Can Easily
                    Streamline Your Payroll With Minimum Errors.</p>
            </div>
        </div>
    </div>

    <div class="container feature-tp">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <h2 class="mb-2 color1">Real-Time Activity Alerts</h2>
                <p>Get Real-Time Alerts For Employee Check-Ins, Breaks, And Missed Punches, Ensuring Managers Have Full Visibility Into Shift Activities As They Happen. The Manager Can Easily See All The Changes Made In Logs And Record The Data He/She Thinks
                    Is Important.</p>
            </div>
            <div class="col-md-6 col-12 text-center">
                <figure><img style="width: 70%;" src="/images/novagems-img/novagemsv2/time-tracking/Real-Time Activity Alerts2.png" alt="Mobile-Patrol"></figure>
            </div>
        </div>
    </div>




    <!-----------Section-------------->
    <div>
        {{- partial "every-Industry.html" . -}}
    </div>
    <!-- ------------------------------------------- -->
    <div class="bgv2">
        <div class="container py-4">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h2 class="mb-2">Optimize Workforce Efficiency Today!</h2>
                    <p>Say Goodbye To Manual Timesheets And Attendance Errors. Track Time With Accuracy And Automate Payroll Effortlessly.</p>
                </div>

                <div class="d-flex flex-wrap justify-content-center mt-4" style="gap: 10px;">
                    <div class="feature-card" style="border: 1px solid #50C25F;box-shadow: none;">
                        <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/feature/Boost Workforce Productivity.png" | absURL}}' alt="Scheduling">
                        <p class="feature-text">Boost Productivity</p>
                    </div>
                    <div class="feature-card" style="border: 1px solid #4693EA;box-shadow: none;">
                        <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/feature/Reduce Scheduling Errors.png" | absURL}}' alt="Task & Post">
                        <p class="feature-text">Ensure Compliance</p>
                    </div>
                    <div class="feature-card" style="border: 1px solid #786CE6;box-shadow: none;">
                        <img class="feature-icon" src='{{"/images/novagems-img/novagemsv2/feature/Save Time With Automation.png" | absURL}}' alt="GPS Geofence">
                        <p class="feature-text">Eliminate Time Fraud</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center  gap-3 text-center mt-4">
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/google.png" alt="google">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/getapp.png" alt="getapp">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/capterra.png" alt="capterra">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/g2.png" alt="g2">
                    </div>
                    <div>
                        <img class="reviewsimg" src="/images/novagems-img/novagemsv2/software.png" alt="software">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "newsletterpage.html" . -}}
    </div>
    <!-- Home Grid Section -->
    <div class="py-5">
        <div class="container pt-2 ">
            <div class="row">
                <div class="col-md-12 mb-3 mt-5 text-center">
                    <!-- <p class="subheading tex-h " style="color: #F2845F;">WHY NOVAGEMS?</p> -->
                    <h2 class="Workforce-h2">Power, Simplicity & Support</h2>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/support-24.png" | absURL}}' alt="support-24"></figure>
                        <div>
                            <h5>24/7 <br> Support</h5>
                        </div>
                        <p>Get Round-The-Clock Assistance Whenever You Need It</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/free-trainings.png" | absURL}}' alt="free-trainings"></figure>
                        <div>
                            <h5>Free Training & Built-In <br> Learning Videos</h5>
                        </div>
                        <p>Seamless Onboarding With Step-By-Step Guides And In-App Tutorials.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Fast-implementation.png" | absURL}}' alt="Fast-implementation"></figure>
                        <div>
                            <h5>Fast <br> Implementation</h5>
                        </div>
                        <p>Set Up And Start Managing Your Workforce In No Time.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Custom-customization.png" | absURL}}' alt="Custom-customization"></figure>
                        <div>
                            <h5> Web & Mobile <br> Accessibility</h5>
                        </div>
                        <p>Manage Your Team Anytime, Anywhere With Our Mobile And Web Apps.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container mt-5 ">
            <div class="row">
                <div class="col-md-8 ">
                    <img src='{{"/images/novagems-img/customer-success.png" | absURL}}' alt="customer-success">
                </div>
                <div class="col-md-4">
                    <img class="mb-3 phone-fast" src='{{"/images/novagems-img/Rectangle2.png" | absURL}}' alt="Rectangle2">
                    <img class="phone-fast" src='{{"/images/novagems-img/Rectangle3.png" | absURL}}' alt="Rectangle3">
                </div>
            </div>
        </div> -->


    </div>

</div>

<style>
    .card-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .card-features {
        flex: 1 1 30%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        padding: 30px;
    }
    
    @media screen and (max-width:767px) {
        .card-features {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
    
    .bgv3 {
        background: #FFF8E7 0% 0% no-repeat padding-box;
        border-radius: 20px;
        padding-top: 1px;
        padding-left: 0px;
    }
    
    @media screen and (max-width:768px) {
        .bgv3 {
            background: #FFF8E7 0% 0% no-repeat padding-box;
            border-radius: 20px;
            padding-top: 1px;
            padding-bottom: 50px;
            padding-left: 15px;
        }
    }
    
    .Trusted-Section {
        padding: 10px 0px;
        margin-top: 200px;
    }
</style>
<div class="clearfix"></div>
{{end}}