{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="free-trial-top">
        <div class="container">

            <div class="row mt-5 ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <p style="color: #786CE6;">NOVAGEMS PRICING</p>
                        <h1 class="hero-h1">Enjoy a 14-day Free Trial <br> with Full Access</h1>
                    </div>
                    <div class="mt-5">
                        <img src="/images/novagems-img/pricing-main.svg" alt="37-off-image">
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12 img-iped-head">
                    <div class="clients-blog book-a-demo-form">
                        <form id="discount37off"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- schedule Section -->

    <div id="pricecard" class="container py-5">
        <div class="col-md-10 mx-auto">
            <div class="row align-items-stretch">
                <!-- Card 1 -->
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <h5 class="text-center ">Scheduling & Workforce Management Software</h5>
                        <div class="toggle-section mt-4">
                            <span>Monthly</span>
                            <label class="switch">
                                <input type="checkbox" id="toggle1" checked>
                                <span class="slider"></span>
                            </label>
                            <span>Yearly</span>
                            <span class="badge-box">60% Off on annual billing</span>
                        </div>
                        <hr class="my-3">
                        <div class="text-center ">
                            <span class="d-inline-block align-middle">
                                <span class="price align-middle" id="price1">$7.2</span>
                            </span>
                            <small
                                style="vertical-align: -webkit-baseline-middle; font-size: 14px; margin-left: 4px;">/User/Month</small>
                        </div>
                        <hr class="my-3">
                        <ul class="feature-list">
                            <li>Unlimited Location & Job sites</li>
                            <hr class="my-3">
                            <li>Unlimited Schedules</li>
                            <hr class="my-3">

                            <li>Mobile App Access</li>
                            <hr class="my-3">

                            <li>Real-Time Alerts & Reminders</li>
                            <hr class="my-3">

                            <li>Custom Reporting</li>
                            <hr class="my-3">

                            <li>Location based Attendance</li>
                            <hr class="my-3">

                            <li>Shift logs</li>
                            <hr class="my-3">

                            <li>Timesheets & Payruns</li>
                            <hr class="my-3">

                            <li>Open Shifts</li>
                            <hr class="my-3">

                        </ul>

                        <a href="#" class="explore-link"><img src="/images/novagems-img/Explore.svg" alt="Explore"> Explore All Features</a>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <h5 class="text-center ">Security Guard Management Software</h5>

                        <div class="toggle-section mt-4">
                            <span>Monthly</span>
                            <label class="switch">
                                <input type="checkbox" id="toggle2" checked>
                                <span class="slider"></span>
                            </label>
                            <span>Yearly</span>
                            <span class="badge-box">60% Off on annual billing</span>
                        </div>
                        <hr class="my-3">
                        <div class="text-center ">
                            <span class="d-inline-block align-middle">
                                <span class="price align-middle" id="price2">$7.2</span>
                            </span>
                            <small
                                style="vertical-align: -webkit-baseline-middle; font-size: 14px; margin-left: 4px;">/User/Month</small>
                        </div>
                        <hr class="my-3">

                        <ul class="feature-list">
                            <li>Schedule & Attendance</li>
                            <hr class="my-3">
                            <li>Custom Reporting</li>
                            <hr class="my-3">
                            <li>Mobile Patrol</li>
                            <hr class="my-3">
                            <li>Check points Tours</li>
                            <hr class="my-3">
                            <li>GPS Tracking & Trail</li>
                            <hr class="my-3">
                            <li>Estimate & Invoicing</li>
                            <hr class="my-3">
                            <li>Schedule & Attendance</li>
                            <hr class="my-3">
                            <li>Custom Reporting</li>
                            <hr class="my-3">
                            <li>Mobile Patrol</li>
                            <hr class="my-3">
                            <li>Check points Tours</li>
                            <hr class="my-3">
                            <li>GPS Tracking & Trail</li>
                            <hr class="my-3">
                            <li>Estimate & Invoicing</li>
                            <hr class="my-3">
                        </ul>

                        <a href="#" class="explore-link"><img src="/images/novagems-img/Explore.svg" alt="Explore"> Explore All Features</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------------------------------- -->
    <div class="container mb-5">
        <div class="col-md-10 mx-auto">
            <div class="d-flex justify-content-between align-items-center borde-now">
                <h3 class="now-answers">Don’t Wait-Click “Talk To Sales” Now To Get Answers Fast.</h3>
                <a class="book-a-free-demo-v2 "
                    style="color: #fff !important; padding: 10px 25px; font-weight: 500 !important;"
                    href="/want-a-free-trial">Talk To Sales </a>
            </div>
        </div>
    </div>


    <!-- -------------------------------------- -->
    <section id="pricingTestimonials" class="testimonials "
        style="background-color: #fff5e9; padding-top: 100px; padding-bottom: 70px;">
        <div class="container">
            <div class="row text-center">

                <!-- Card 1 -->
                <div class="col-md-4 mb-4">
                    <div class="testimonial-box p-4 bg-white rounded shadow-sm position-relative h-100">
                        <img src="/images/novagems-img/Jonas-Snow.png" alt="User 1"
                            class="testimonial-img rounded-circle mx-auto d-block">
                        <p class="testimonial-text mt-4">“After 15 Years In The Industry, Novagems Is The Best Software
                            I’ve Used. I Can Easily Track Overtime, Always Know Who’s On Shift And Who’s Late, And Fix
                            Issues Before They Cause Problems.”</p>
                        <p class="mb-0 textclint mt-3 ">Jonas Snow</p>
                        <p class="font-italic textclint">UGS Security</p>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4 mb-4">
                    <div class="testimonial-box p-4 bg-white rounded shadow-sm position-relative h-100">
                        <img src="/images/novagems-img/Umesh-Sirohi.png" alt="User 2"
                            class="testimonial-img rounded-circle mx-auto d-block">
                        <p class="testimonial-text mt-4">"I Used To Spend Over 5 Hours A Week On Scheduling, But With
                            Novagems, It Now Takes Less Than An Hour. I Can Easily Manage Multiple Locations Without The
                            Stress.”</p>
                        <p class="mb-0 textclint mt-3 ">Umesh Sirohi</p>
                        <p class="font-italic textclint">Opa, Little Caesar & Namaste Restaurant</p>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4 mb-4">
                    <div class="testimonial-box p-4 bg-white rounded shadow-sm position-relative h-100">
                        <img src="/images/novagems-img/Maninder-Pal.png" alt="JMTA Group"
                            class="testimonial-img mx-auto d-block">
                        <p class="testimonial-text mt-4">“I Was Able To Get My Team Online With Novagems Within A Few
                            Minutes. Now, Every Shift Runs Smoothly, And Our Clients Love The <br> Daily Reports.”</p>
                        <p class="mb-0 textclint mt-3 ">Maninder Pal</p>
                        <p class="font-italic textclint">JMTA Group</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ----------------------------------- -->
    <div class=" pb-4">
        <div class="container-fluid  example">
            <div class="row">
                <div class="col-md-12 mt-5 mb-2 text-center ">
                    <p class="subheading tex-h color4">Our customer reviews</p>
                    <h3 class="hero-h1">Join 100,000+ highly productive team members</h3>
                </div>
            </div>

            <div>
                {{- partial "customerReviews.html" . -}}
            </div>
        </div>
        <div class="d-flex justify-content-center  gap-3 text-center">
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/google.png" alt="google">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/getapp.png" alt="getapp">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/capterra.png" alt="capterra">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/g2.png" alt="g2">
            </div>
            <div>
                <img class="reviewsimg" src="/images/novagems-img/novagemsv2/software.png" alt="software">
            </div>
        </div>

    </div>
    <!-----------Section-------------->

    <!-- Home Grid Section -->
    <div class="pb-5">
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-md-12 mb-3 mt-5 text-center">
                    <p class="subheading tex-h " style="color: #F2845F;">WHY NOVAGEMS?</p>
                    <h2 class="Workforce-h2">Power, Simplicity & Support</h2>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img
                                src='{{"/images/novagems-img/novagemsv2/support-24.png" | absURL}}' alt="support-24">
                        </figure>
                        <div>
                            <h5>24/7 <br> Support</h5>
                        </div>
                        <p>Get Round-The-Clock Assistance Whenever You Need It</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img
                                src='{{"/images/novagems-img/novagemsv2/free-trainings.png" | absURL}}'
                                alt="free-trainings"></figure>
                        <div>
                            <h5>Free Training & Built-In <br> Learning Videos</h5>
                        </div>
                        <p>Seamless Onboarding With Step-By-Step Guides And In-App Tutorials.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img
                                src='{{"/images/novagems-img/novagemsv2/Fast-implementation.png" | absURL}}'
                                alt="Fast-implementation"></figure>
                        <div>
                            <h5>Fast <br> Implementation</h5>
                        </div>
                        <p>Set Up And Start Managing Your Workforce In No Time.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                    <div>
                        <figure style="margin-bottom: 20px;"><img
                                src='{{"/images/novagems-img/novagemsv2/Custom-customization.png" | absURL}}'
                                alt="Custom-customization"></figure>
                        <div>
                            <h5> Web & Mobile <br> Accessibility</h5>
                        </div>
                        <p>Manage Your Team Anytime, Anywhere With Our Mobile And Web Apps.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">
        <div class="col-md-8 mx-auto">
            <div class="mb-3 mt-5 text-center">
                <h2 class="Workforce-h2">Enjoy Added Features With All Subscriptions For Scheduling & <br> Workforce
                    Management Software</h2>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Employee Management</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Client Management</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Task Management</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Activity and History tracking</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Custom Role permission</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Job duties & Checklist</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Vacation & Absent tracking</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Custom Scheduling Templates</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> 24/7 Support & Learning Videos</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Skills and Certification Management</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Shift Break Management</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Time Zone Settings</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Custom Fields</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="cardline">
                        <p class="explore-link"> <span><img class="pr-3" src="/images/novagems-img/check.svg"
                                    alt=""></span> Multiple Views & Filters</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .cardline {
            box-shadow: 6px 6px 0px #786CE629;
            border: 1px solid #786CE6;
            border-radius: 10px;
            padding: 20px;
        }
    </style>

    <!-----------Section-------------->
    <div>
        {{- partial "newsletterpage.html" . -}}
    </div>
    <!-----------Section-------------->

</div>

<div class="modal fade refe-earn-pop refer-earn-form" id="schedulingmanagementpop" tabindex="-1" role="dialog"
    aria-labelledby="refer-earnformTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class=" ">
                <button type="button" class="close-blog" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container  mb-5">
                    <div>
                        <div class="mb-3 mt-5 text-center">
                            <h2 class="Workforce-h2">Enjoy Added Features With All Subscriptions For Scheduling & <br>
                                Workforce Management Software</h2>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Employee Management
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Client Management
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Task Management</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Activity and History
                                        tracking</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Custom Role
                                        permission</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Job duties &
                                        Checklist</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Vacation & Absent
                                        tracking</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Custom Scheduling
                                        Templates</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> 24/7 Support &
                                        Learning Videos</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Skills and
                                        Certification Management</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Shift Break
                                        Management</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Time Zone Settings
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Custom Fields</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cardline">
                                    <p class="explore-link"> <span><img class="pr-3"
                                                src="/images/novagems-img/check.svg" alt=""></span> Multiple Views &
                                        Filters</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onscroll = function () {
        myFunction();
    };

    function myFunction() {
        var winScroll =
            document.body.scrollTop || document.documentElement.scrollTop;
        var height =
            document.documentElement.scrollHeight -
            document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        var countScrollRatio = scrolled.toFixed(0);
        var checkEnterVisitUser = true;

        var checkAgainVisitUserScheduling = localStorage.getItem("againVisitUserScheduling");

        if (checkAgainVisitUserScheduling) {
            checkEnterVisitUser = false;
        } else {
            checkEnterVisitUser = true;
        }
        if (countScrollRatio == "15") {
            if (checkEnterVisitUser) {
                localStorage.setItem("againVisitUserScheduling", true);
                $("#schedulingmanagementpop").modal("show");
            }
        }
    }

    window.onbeforeunload = function (e) {
        window.onunload = function () {
            window.localStorage.againVisitUserScheduling = "false";
        }
        return undefined;
    };

    window.onload = function () {
        window.localStorage.againVisitUserScheduling = "true";
    };
</script>



<style>
    .blog-pop-cus .close-blog {
        border-radius: 50%;
        display: block;
        z-index: 999;
        opacity: 1;
        border: none;
        font-size: 27px;
        clear: both;
        line-height: 30px;
        background-color: #fff;
        box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 0;
        position: absolute;
        right: -15px;
        font-weight: 700;
        top: -15px;
        color: red !important;
    }

    .securitytex {
        padding-left: 75px;
    }

    @media screen and (max-width:767px) {
        .blog-pop-cus .close-blog {
            right: -6px;
            top: -19px;
        }

        .phonemodal {
            padding-top: 50px;
        }

        .securitytex {
            padding-left: 15px;
        }
    }

    @media only screen and (min-width:768px) and (max-width:1023px) {
        .modal-top-for {
            margin: 0px 0px 0px -41px;
        }

        .phonemodal {
            padding-top: 25px;
        }
    }
</style>



{{end}}