{{ define "main" }}
<!-- schedule Section -->
<div style="background-color: #fff;">

    <div class="linked-pt ">
        <div class=" Linked-page-bkg pt-5 pb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div>
                            <h1 class=" linked-h1 us-text">Top 3 Cold Email Templates to Try for Your Security Company
                            </h1>

                            <div class="bannerbtn mt-4">
                                <a data-toggle="modal" data-target="#exampleModal" class="pointer btn-arrow">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <img src="/images/novagems-img/linked1.png" alt="linked1">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container mt-5">
            <div class="col-md-10 mx-auto text-center mt-5">
                <p>Thankfully, email marketing still works like a charm for security companies. And if you have been looking for cold email outreach strategies for your security company, you are at the right spot! Here, we will discuss the best ways to send
                    cold emails to your prospects. These three email templates can help reach out to your prospective clients. So, let us have a look at these security email templates:</p>
            </div>

        </div>
    </div>

    <div style="background-color: #fafbfc">
        <div class="container pt-5 pb-5">
            <div class="card ">
                <div class="card-header">
                    Template #1: Stating the Problem Followed By A Solution
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">

                        <p><b> Subject Line :</b> Trouble managing your security officers? Here is the perfect solution!</p>
                        <p><b>Body :</b> Hey</p>
                        <p>Checking what your property managers do or don’t do must be the last thing on your to-do list right now! We understand that property managers like you have a lot more on their plate, like filling vacancies or renewing the leases
                            (you know, the important stuff).</p>
                        <p>So, don’t let the security officers take up all your time. With (Your Company’s Name), you can rest assured that your property is safe and secure without your intervention.</p>
                        <p><b>We perform:</b></p>
                        <p>- Regular property patrols to avoid accidents, attacks, and break-ins</p>
                        <p>- Provide easy-to-understand daily reports using an effective workforce management system</p>
                        <p>- Provide summarized monthly and quarterly reports with security guard activities and attendance sheets</p>
                        <p>Besides, we ensure you have everything at hand without checking on the guards every minute. If you are tired of wasting your time looking after the security personnel on your property, let us schedule a meeting with you.</p>
                        <p>What time suits you the best? Let me know, and we will jump on a quick chat!</p>
                        <p>Best ABC</p>
                        <p><b>Template Usage:</b></p>
                        <p>The template above pin-points the usual problem property managers face with troubling security service providers. Followed by the problem, you provide the solution to the managers, which instigates their wish to respond. Besides,
                            you can summarize what you can do compared to their current security officers.</p>
                        <p>If the managers are frustrated with their current service provider and genuinely waste their time checking on the officers, they will respond to the email.</p>
                    </blockquote>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-header">
                    Template #2: Asking for the Right Contact
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">

                        <p><b> Subject Line :</b> Are you the right point of contact?</p>
                        <p><b>Body :</b> Hey XYZ</p>
                        <p>I hope you are doing alright. I am writing to find the right point of contact at who looks after the security services at . Are you the right person?</p>
                        <p>I also reached out to your colleagues and with the hope of locking down the person working in this designation. If you are the best point of contact, please let me know. I wanted to talk to you about the security services we deliver.</p>
                        <p>For years, we have been helping companies like yours get the best out of their security services by hiring qualified personnel. We have also worked with other giants in your industry like (Company 1 and Company 2). </p>
                        <p>Let us have a quick chat, and I will explain how my company can help you. If you are not the right person, please direct me to someone I can talk to about this. </p>
                        <p>Thank you </p>
                        <p>ABC</p>

                        <p><b>Template Usage:</b></p>
                        <p>The “right contact” email template works like a charm because it instigates curiosity in the mind of a person who is the decision-maker of the targeted company. For example, if you are trying to contact a property manager, they
                            will not respond to emails stating that your security company can do this or that. However, if you ask them if they are the right point of contact for the security affairs of a property, they are more likely to click, and it
                            might help you bag a good lead. Such emails make one of the best cold email outreach strategies. </p>
                    </blockquote>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-header">
                    Template #3: Bringing Up Their Current Security Company
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">

                        <p><b> Subject Line :</b> Is working well for you?</p>
                        <p><b>Body :</b> Hey XYZ</p>
                        <p>I see you have been using (the other company’s) security services and I wonder how well they are working for you. Are you satisfied with the results?</p>
                        <p>I have come across many renowned companies like yours using and facing punctuality, reporting, and performance issues from the security officers. Well, many of these companies have switched to , and they are pretty satisfied now.
                        </p>
                        <p>I wanted to discuss this in more detail with you. Let me know what your next week looks like for a meeting.</p>
                        <p>Thank you </p>
                        <p>ABC</p>

                        <p><b>Template Usage:</b></p>
                        <p>When you want to target your competitor’s clients, this email template is the best! The role of this email is to paint a good picture of your company in the eyes of the prospects who are not satisfied with your competitor’s services.
                        </p>
                        <p>The email hits hard and works well when the prospects are dissatisfied with their current security services. Also, including the name of other companies in the industry that are your current clients adds to your credibility. It
                            is one of the best security email templates that are honest yet competitive.</p>
                        <p>So, these are the email templates your security company can use to target your prospects. We hope you have found the right one to execute your cold email outreach strategies. Stay tuned for more!</p>

                    </blockquote>
                </div>
            </div>

        </div>
    </div>



    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>

    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="clients-blog free-trial-form">
                <button type="button" class="close-security" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                <h6>Download Security Guard Email Template</h6>
                <form id="security-guard-software"></form>

            </div>
        </div>
    </div>

</div>


{{end}}