{{ define "main" }}

<div>
    <div class="privacy-bg2">
        <div class="container">
            <div class="row align-items-center" style="padding-top: 90px;">
                <div class="col-md-7 mx-auto">
                    <figure><img src="/images/novagems-img/about-us.svg" alt="about-us"></figure>
                </div>
            </div>
        </div>


        <div class="container ">
            <div class="row ">
                <div class="col-md-10 offset-md-1 mb-5">
                    <div>
                        <h1 class="my-3">About Novagems</h1>

                        <p>Our mission at Novagems is to offer a complete set of features through easy-to-use software.
                            We are building end-to-end, integrated solutions for the security guard and cleaning
                            industry to make it easier what you do. Our main
                            goal is to deliver game-changing technology and 100% customer satisfaction to help our
                            clients achieve their business goals. With Novagems, you have the ability to use many of our
                            features which include: scheduling, tracking,
                            reporting, timesheet, and many more. We are a one-stop shop for your security and cleaning
                            company needs. You can utilize our software in plenty of ways. We have an admin portal and a
                            client Portal. These portals help keep
                            your company running smoothly and streamline your business operations.</p>
                        <br>

                        <p><b>The Future of Novagems</b></p>
                        <p>We are constantly improving our products to make them user-friendly, and cost-effective.
                            Creating quality products, and setting benchmarks for the industry is what we wish for.</p>
                        <br>

                        <p><b>Why Novagems?</b></p>
                        <ul>
                            <li>24*7 support</li>
                            <li>Free Trainings</li>
                            <li>Fast Implementations</li>
                            <li>Custom Customizations</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div>
        {{- partial "resources.html" . -}}
    </div>

{{end}}