<div class="bg-white pt-5 Industrysection">
    <div class="bg-Industry"></div>
    <div class=" container">
        <div class="col-md-9 mx-auto">
            <div class="text-center">
                <h3 class="Workforce-h2">Employee Scheduling Software For Every Industry</h3>
                <p>Built For Teams Of All Sizes, Novagems Helps Businesses Streamline Scheduling, Time Tracking, And Workforce Management. See How Companies Like Yours Are Benefiting.</p>
                <p><a style="color: #786CE6 !important;" href="/customer-stories/">Read Real Stories <img src="/images/novagems-img/novagemsv2/read.png" alt=""></a></p>
            </div>
            <div class="row my-5">
                <div class="col-md-4 col-12">
                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                        <img style="border-radius: 20px 20px 0px 0px;    width: 100%;" src="/images/novagems-img/novagemsv2/OPA-Group.png" alt="" />
                        <div class="pl-2 pr-2 pt-2 pb-2">
                            <p> <b>OPA Group </b></p>
                            <p class="mt-2 mb0">25 Employees</p>
                            <a style="color: #786CE6;text-decoration: underline;" href="/customer-stories/umesh-sirohi-multi-brand-restaurant-group/" class="link pt-4">Read Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 cardstories-top-phone">
                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                        <img style="border-radius: 20px 20px 0px 0px;width: 100%;" src="/images/novagems-img/novagemsv2/JMTA-Janitorial-Services.png" alt="" />
                        <div class="pl-2 pr-2 pt-2 pb-2">
                            <p> <b>JMTA Janitorial Services </b></p>
                            <p class="mt-2 mb0">70 Employees</p>
                            <a style="color: #786CE6;text-decoration: underline;" href="/customer-stories/jmta-janitorial-services/" class="link mt-3 ">Read Story</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 cardstories-top-phone">
                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                        <img style="border-radius: 20px 20px 0px 0px;width: 100%;" src="/images/novagems-img/novagemsv2/customer-stories/ugs.png" alt="" />
                        <div class="pl-2 pr-2 pt-2 pb-2">
                            <p> <b>UGS Security </b></p>
                            <p class="mt-2 mb0">750 Employees</p>
                            <a style="color: #786CE6;text-decoration: underline;" href="/customer-stories/ugs-security" class="link b dib black mb-5 color5 pb-3">Read Story</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- <div class=" container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div class="col-md-12 mt-5 mb-5 text-center ">
                        <h2 class="hero-h1">Employee Scheduling Software For Every Industry</h2>
                        <p>Built For Teams Of All Sizes, Novagems Helps Businesses Streamline Scheduling, Time Tracking, And Workforce <br> Management. See How Companies Like Yours Are Benefiting.</p>
                        <p><b>Read Real Stories From Novagems Customers</b></p>
                    </div>
                    <div class="col-md-12 input-p">
                        <div class=" mb-5 d-flex justify-content-center">
                            <ul id="tabs-business" class="nav nav-tabs ">
                                <li class="nav-item business-using"><a href="" data-target="#security-tab" data-toggle="tab" class="nav-link text-uppercase active tab-data">Security</a></li>
                            <li class="nav-item business-using"><a href="" data-target="#healthCare-tab" data-toggle="tab" class="nav-link text-uppercase ">Security Health Care </a></li>
                            <li class="nav-item business-using"><a href="" data-target="#cleaning-tab" data-toggle="tab" class="nav-link text-uppercase ">Security Cleaning </a></li>
                            </ul>
                        </div>

                        <br>
                        <div id="tabsContent" class="tab-content">
                            <div id="security-tab" class="top-phone tab-pane fade active show">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px;" src="/images/novagems-img/novagemsv2/Rock-And-Stone-Constructions.png" alt="" />
                                            <h4 class="mt-3 f3 b lh-title mb1 primary">Rock And Stone Constructions</h4>
                                            <p class="mt-2 mb0">50+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px; " src="/images/novagems-img/novagemsv2/Securiwatch.png" alt="" />
                                            <h4 class="mt-3 f3 b lh-title mb1 primary">Securiwatch </h4>
                                            <p class="mt-2 mb0">1500+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px; " src="/images/novagems-img/novagemsv2/HMTA.png" alt="" />
                                            <h4 class="mt-2 f3 b lh-title mb1 primary">HMTA Group</h4>
                                            <p class="mt-2 mb0">70+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="healthCare-tab" class="top-phone tab-pane fade">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px;" src="/images/novagems-img/novagemsv2/Rock-And-Stone-Constructions.png" alt="" />
                                            <h4 class="mt-3 f3 b lh-title mb1 primary">Rock And Stone Constructions</h4>
                                            <p class="mt-2 mb0">50+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px; " src="/images/novagems-img/novagemsv2/Securiwatch.png" alt="" />
                                            <h4 class="mt-3 f3 b lh-title mb1 primary">Securiwatch </h4>
                                            <p class="mt-2 mb0">1500+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px; " src="/images/novagems-img/novagemsv2/HMTA.png" alt="" />
                                            <h4 class="mt-2 f3 b lh-title mb1 primary">HMTA Group</h4>
                                            <p class="mt-2 mb0">70+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cleaning-tab" class="top-phone tab-pane fade">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px;" src="/images/novagems-img/novagemsv2/Rock-And-Stone-Constructions.png" alt="" />
                                            <h4 class="mt-3 f3 b lh-title mb1 primary">Rock And Stone Constructions</h4>
                                            <p class="mt-2 mb0">50+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px; " src="/images/novagems-img/novagemsv2/Securiwatch.png" alt="" />
                                            <h4 class="mt-3 f3 b lh-title mb1 primary">Securiwatch </h4>
                                            <p class="mt-2 mb0">1500+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius:20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                            <img style="border-radius: 20px 20px 0px 0px; " src="/images/novagems-img/novagemsv2/HMTA.png" alt="" />
                                            <h4 class="mt-2 f3 b lh-title mb1 primary">HMTA Group</h4>
                                            <p class="mt-2 mb0">70+ Employees</p>
                                            <br>
                                            <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->