{{if eq .Type "mobile-patrol" }}
<div class=" container" id="mp">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion1">
            <label for="accordion1" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is mobile patrol app?</h2></label>
            <h3 class="accordion-item-desc">Introducing mobile patrol app – the digital security sidekick! No need for walkie-talkies and notepads; security guards can use this app on their smartphones or tablets.<br><br>With the security guard patrol app, they access mobile patrol
                routes, report incidents, and communicate with the base or other guards – all at the tap of a screen. It&#39;s like a virtual map, reporting tool, geo tracking and messaging system bundled into one friendly app.<br><br>Imagine your friendly
                neighborhood security guard, but in a digital, pocket- sized version. It&#39;s all about making security efficient, modern, and super convenient!
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion2">
            <label for="accordion2" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">How does the mobile patrol app work?</h2></label>
            <h3 class="accordion-item-desc">A mobile patrol security app works its GPS magic for security purposes.<br><br>The app tracks your movements in real-time. If anything suspicious happens, like a weird noise or a suspicious character, you can instantly report it through the
                app – no need for a pen and paper.<br><br>This handy app allows tracking of security guards locations, real-time updates on incidents, and coordination of responses.</h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion3">
            <label for="accordion3" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What are uses of mobile patrol app?</h2></label>
            <h3 class="accordion-item-desc">The mobile patrol app is your digital map, showing patrol routes and designated areas on your screen so you never get lost. No more wrong turns! For reporting, if you see something suspicious, the app lets you report incidents in real-time
                – quick and easy, like sending a message.<br><br>Communication is a breeze. No need for walkie-talkies; the app lets you send messages instantly, just like texting. Keeping everyone in the loop without the hassle.
            </h3>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion4">
            <label for="accordion4" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Is mobile patrol app safe to use?</h2></label>
            <h3 class="accordion-item-desc">The mobile patrol app prioritizes safety, utilizing encryption and advanced technology to secure your data. Reports, messages, and location info are confidential, shared only with authorized individuals – fellow guards and the control room.
                Undergoing rigorous testing, the security guard mobile patrol app acts like a team of digital bodyguards, ensuring smooth operation and ironing out any bugs or vulnerabilities.<br><br>Like any app, responsible use is key. Keep login details
                private, update the app for added security features with new versions, and you&#39;re good to go!</h3>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion5">
            <label for="accordion5" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Do security guards needs training to use mobile patrol app?</h2></label>
            <h3 class="accordion-item-desc">ISecurity guards, like anyone learning a new tool, might need training to use a mobile patrol app effectively. It&#39;s akin to learning a new game or recipe – a little guidance goes a long way.<br><br>During training, they&#39;ll learn the
                app&#39;s ins and outs: navigating, reporting incidents, using GPS features, and communicating with the team. It&#39;s like teaching someone to ride a bike – a bit tricky at first, but once you get it, you&#39;re good to go!<br><br>Training
                ensures guards use the mobile patrol security app safely and securely, emphasizing best practices like protecting login information and being cautious about shared info.</h3>
        </div>
    </div>
</div>
{{end}} {{if eq .Type "workforce-management-for-security-company" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion11">
            <label for="accordion11" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is security guard tracking software, and how does it work?</h2></label>
            <h3 class="accordion-item-desc">
                Security guard tracking software helps security companies monitor, manage, and track their guards in real time. It uses GPS, geofencing, and mobile check-ins to ensure guards are present at assigned locations and performing their duties as scheduled.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion12">
            <label for="accordion12" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">How can I monitor guard patrols in real time?</h2></label>
            <h3 class="accordion-item-desc">With Novagems, you can track guard patrols live through GPS and checkpoint tour monitoring. The system shows each guard’s current location, completed checkpoints, missed rounds, and time logs; everything updates instantly on your dashboard.

            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion13">
            <label for="accordion13" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Is the software mobile-friendly for on-the-go guards and managers?</h2></label>
            <h3 class="accordion-item-desc">Yes, Novagems offers a user-friendly mobile patrol app for both security guards and supervisors. Guards can clock in, complete tasks, and get updates directly from their phones, while managers can track everything from their mobile dashboards.</h3>
        </div>
    </div>
</div>
{{end}} {{if eq .Type "gps-tracking" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion21">
            <label for="accordion21" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">How does the guard tracking system work?</h2></label>
            <h3 class="accordion-item-desc">
                Guard Tracking System starts with check-ins at the shift&#39;s beginning. After that, it&#39;s all about real-time gps tracking – a friendly gps &amp; track ensures guards are where they should be. Add geofencing for digital boundaries, and you&#39;ll
                get alerts if a guard steps in or out – your digital safety net.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion22">
            <label for="accordion22" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">How do you monitor a security guard?</h2></label>
            <h3 class="accordion-item-desc">Geofences are like invisible map fences. Alerts ping if a guard steps in or out, ensuring they&#39;re on track. Guards report incidents quickly through the system, maintaining an open line of communication – just like chatting with a friend.
                <br><br> Monitoring a security guard? It’s like having a tech-savvy friend watching your back, ensuring everything runs smoothly.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion23">
            <label for="accordion23" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Which advanced technology do you use in your software?</h2></label>
            <h3 class="accordion-item-desc">AI optimizes scheduling, predicts workforce needs, and aids decision-making. Algorithms analyze historical data for smart recommendations and real-time adjustments. Our software leverages IoT devices, including wearables, like gps tracking
                devices for precise location tracking, ensuring accurate monitoring and heightened security. Combining these technologies, our platform empowers businesses to optimize workforce, boost productivity, and achieve operational excellence.</h3>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion24">
            <label for="accordion24" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Is your software helpful to Increase security staff protection?</h2></label>
            <h3 class="accordion-item-desc">Absolutely, our Guard Tracking System is specifically designed to increase the protection of security staff. We prioritize the safety and well-being of security guards. It&#39;s about creating a secure, supportive environment for security
                guards. By utilizing advanced technology and fostering effective communication, we prioritize the protection and well-being of security staff, ensuring they can perform their duties confidently and safely.</h3>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion25">
            <label for="accordion25" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Is your software helpful in Real-Time Incident Reporting</h2></label>
            <h3 class="accordion-item-desc">We understand the critical importance of swift and accurate incident reporting in the security industry. Our workforce management system is not just about tracking schedules; it’s a powerful tool that empowers security guards to report incidents
                swiftly, accurately, and efficiently. By facilitating real-time incident reporting, we enhance the security infrastructure, making our software an indispensable asset for any security operation.</h3>
        </div>
    </div>
</div>
{{end}} {{if eq .Type "checkpoint-tours" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is a checkpoint tour system?</h2></label>
            <h3 class="accordion-item-desc">
                A checkpoint tour system automates and tracks the movement of security personnel during their patrols. It provides real-time location data, incident reporting, and automated scheduling, ensuring your security teams are always on track.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Is there a mobile app for security staff?</h2></label>
            <h3 class="accordion-item-desc">TYes, the Novagems mobile app allows security guards to receive schedules, clock in, report incidents, and track their progress, right from their smartphones. It works on both Android and iOS devices.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Can I try the system before committing?</h2></label>
            <h3 class="accordion-item-desc">
                Absolutely! You can use our free security guard checkpoint system for a limited time. We offer a 14-day free trial with no credit card required. You can also schedule a demo with our team to walk you through the system.

            </h3>
        </div>
    </div>
</div>
{{end}} {{if eq .Type "cleaning-company-software" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What key features should a Cleaning Company Software have?</h2></label>
            <h3 class="accordion-item-desc">
                A good Cleaning Company Software should have scheduling and dispatching tools, client management features, employee tracking, and invoicing capabilities. It should also include mobile accessibility, reporting tools, and integration with accounting software
                for smooth operations. This is a broader form that makes the best software for cleaning business.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What benefits do Cleaning Companies gain from using software for their operations?</h2></label>
            <h3 class="accordion-item-desc">Cleaning service software offers a helping hand by automating time-consuming processes like scheduling, invoicing, and reporting. This frees up valuable time to focus on core aspects of the business. Additionally, features like route optimization
                and automated communication streamline operations, boosting efficiency and client satisfaction. Furthermore, software helps manage inventory and provides data-driven insights, allowing for cost optimization and strategic decision-making.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What security measures should be taken when using Cleaning Company Software?</h2></label>
            <h3 class="accordion-item-desc">
                When using Cleaning Company Software, prioritize security measures. Encrypt data, enforce secure authentication, and keep software updated to patch vulnerabilities. Limit data access, maintain secure backups, and provide employee training on security
                best practices. Comply with relevant regulations like GDPR or HIPAA to protect customer data and ensure legal compliance.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion34">
            <label for="accordion34" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Do I need to be home during the cleaning service?</h2></label>
            <h3 class="accordion-item-desc">
                Whether you need to be home during the cleaning service depends on your preferences and the policies of the cleaning company. Many cleaning companies offer flexible options, allowing you to choose whether you want to be present or not. Some clients prefer
                to be home to supervise or provide access to certain areas, while others trust the cleaners to work independently. It's best to discuss your preferences with the cleaning company beforehand to ensure a smooth and satisfactory experience.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion35">
            <label for="accordion35" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">How many hours is a typical cleaning service takes?</h2></label>
            <h3 class="accordion-item-desc">
                The duration of a typical cleaning service can vary depending on factors such as the size of the space, the level of cleaning required, and the number of cleaners involved. Generally, a standard residential cleaning service for an average-sized home may
                take anywhere from 1 to 4 hours. Larger homes or those requiring deep cleaning may take longer, while smaller spaces may require less time.
            </h3>
        </div>
    </div>
</div>
{{end}}{{if eq .Type "janitorial-business-software" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is Janitorial Software?</h2></label>
            <h3 class="accordion-item-desc">Janitorial software is a specialized tool for cleaning companies, helping in staff scheduling, work order management, client communication, estimating and invoicing. It streamlines operations, improves efficiency, and enhances productivity
                for janitorial services.</h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is the difference between Cleaning Business and Janitorial Software?</h2></label>
            <h3 class="accordion-item-desc">Cleaning business software caters to all types of cleaning services, while janitorial software specifically targets commercial cleaning service. Janitorial software typically includes features like work order management and employee tracking,
                tailored to the needs of janitorial businesses, while cleaning business software may offer a broader range of features suitable for various janitorial services.</h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is special about Novagems’s Janitorial service software?</h2></label>
            <h3 class="accordion-item-desc">Novagems's janitorial service software is easy to use and packed with features designed for janitorial services and commercial cleaning services alike. It helps manage work orders, track employees, and communicate with clients effectively.
                With Novagems, janitorial companies can work smarter and provide better service.
            </h3>
        </div>
    </div>
</div>
{{end}}{{if eq .Type "cleaning-business-software" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is cleaning business software?</h2></label>
            <h3 class="accordion-item-desc">Commercial cleaning service providers are always on the lookout for cleaning business software that will help in managing operations smoothly. So the software consists of scheduling, invoicing, and client communication along with much more,
                that makes it a complete package. </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What support is included in my Novagems subscription?</h2></label>
            <h3 class="accordion-item-desc">Novagems is dedicated to helping clients whenever and wherever they need it. That’s why no matter what the size of the cleaning company is our support is available 24*7 to help out should any concern arise.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What features are included in my Novagems subscription?</h2></label>
            <h3 class="accordion-item-desc">Novagems is a complete automation tool of cleaning company software that gives scheduling, estimating, invoicing, and communication under one roof. It charges for daily active users so you only have to pay for the staff that is scheduled and
                working!
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion44">
            <label for="accordion44" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What are the benefits of cleaning business software?</h2></label>
            <h3 class="accordion-item-desc">A cleaning service software helps cleaning companies deliver exceptional service to their clients while maximizing productivity and profitability. The benefits include but are not limited to streamlined operations, improved efficiency, enhanced
                customer service, better organization, accurate billing and invoicing, easier scheduling and task management, and access to valuable insights and analytics for informed decision-making.
            </h3>
        </div>

    </div>
</div>
{{end}}{{if eq .Type "scheduling-software-for-cleaning-business" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Will I get notified if a cleaner is late?</h2></label>
            <h3 class="accordion-item-desc">Novagems will send a notification if the cleaner is late. This way the manager can easily manage the operation. </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Do my cleaners get notified if they are late?</h2></label>
            <h3 class="accordion-item-desc">Yes, the system will send an automated notification to the cleaner for their upcoming shift and in case they are unable to start it on time, it will send a notification to both the manager and the cleaner. </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">How do cleaners see their schedule?</h2></label>
            <h3 class="accordion-item-desc">They can see their schedules on their mobile and they will even get their schedule sent via email. </h3>
        </div>

    </div>
</div>
{{end}}{{if eq .Type "retail-industry" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What are retail employee scheduling software and Apps?</h2></label>
            <h3 class="accordion-item-desc">Retail employee scheduling software and apps help businesses create and manage employee schedules, ensuring optimal staffing. Key features include employee shift planning, employee time tracking, and labor cost management, improving operational
                efficiency and employee engagement.</h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What are the key features of Novagems retail employee scheduling software?</h2></label>
            <h3 class="accordion-item-desc">Novagems’ retail staff scheduling software offers features such as smart scheduling with drag-and-drop functionality, employee time tracking with GPS geofencing, automated payroll and compliance management, shift and task alerts, and multi-site
                management with role-based access control, ensuring efficient workforce operations.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Can I access Novagems retail scheduling software on any device?</h2></label>
            <h3 class="accordion-item-desc">Yes, you can access Novagems retail scheduling software on various devices, including iPhone, iPad, Android, Mac, and Windows, ensuring flexibility for managers and employees to manage staff schedules and track attendance from anywhere.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion44">
            <label for="accordion44" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">How does Novagems retail scheduling software make it easier to schedule staff for events and special promotions?</h2></label>
            <h3 class="accordion-item-desc">Novagems' retail staff software simplifies staff scheduling for events and special promotions by offering features like shift templates and multi-view scheduling. These tools allow managers to quickly adjust schedules, ensure adequate staffing,
                and prevent scheduling conflicts, making it easier to handle high-demand periods.

            </h3>
        </div>

    </div>
</div>
{{end}}{{if eq .Type "maid-service-software" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5 text-center">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is cleaning business software for Maid Service?</h2></label>
            <h3 class="accordion-item-desc">Cleaning business software for maid services is a specialized tool designed to streamline operations such as scheduling, employee management, invoicing, and client communication. It helps manage routine tasks, improve efficiency, and enhance
                customer satisfaction, making it easier to manage and grow a cleaning business.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What to look for in Maid Service software?</h2></label>
            <h3 class="accordion-item-desc">When looking for maid service software, prioritize features like automated scheduling, employee tracking, invoicing, and client management. Ensure it offers real-time notifications, robust reporting, and mobile accessibility to manage your
                cleaning business efficiently from anywhere.</h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What software to buy to manage my maid service?</h2></label>
            <h3 class="accordion-item-desc">When choosing software to manage your maid service, look for options that offer comprehensive features like automated scheduling, employee tracking, invoicing, and client management. Consider popular solutions such as Novagems, Jobber, or
                ZenMaid, and evaluate them based on your specific business needs and budget.
            </h3>
        </div>

    </div>
</div>
{{end}}{{if eq .Type "scheduling" }}
<div class=" container">
    <!-- <div class="col-md-8 mx-auto"> -->
    <div class="accordion">
        <h3 class="mb-5">Frequently Asked Questions</h3>
        <div class="accordion-item">
            <input type="checkbox" id="accordion31">
            <label for="accordion31" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">What is staff scheduling software?</h2></label>
            <h3 class="accordion-item-desc">Staff scheduling software helps you plan who works when. It takes the headache out of manually assigning shifts, juggling time-offs, and making sure every shift is covered. With Novagems, you can build smart, conflict-free schedules in minutes.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion32">
            <label for="accordion32" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Can Novagems prevent overtime and scheduling conflicts?</h2></label>
            <h3 class="accordion-item-desc">Yes, absolutely. Our system warns you before someone gets double-booked or goes into overtime. It keeps everything clean and compliant, so you don’t have to worry about surprises in payroll.</h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion33">
            <label for="accordion33" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Is there a mobile app for staff to use?</h2></label>
            <h3 class="accordion-item-desc">Definitely. Your team can check their shifts, get alerts, request time off, and even clock in—from anywhere. It works on both iPhone and Android, and it’s super easy to use.
            </h3>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion44">
            <label for="accordion44" class="accordion-item-title"><span class="icon"></span><h2 style="font-size: 15px;letter-spacing: 1px;font-weight: 600;margin-bottom: 0px;">Can I try it before committing?</h2></label>
            <h3 class="accordion-item-desc">Of course! We offer a 14-day free trial. No credit card required. You can also book a demo with our team if you want someone to walk you through everything.
            </h3>
        </div>

    </div>
</div>
{{end}}

<style>
    .accordion {
        display: flex;
        flex-direction: column;
        font-family: "Sora", sans-serif;
        margin: 50px auto;
        padding: 0 50px;
    }
    
    .accordion h1 {
        font-size: 32px;
        text-align: center;
    }
    
    .accordion-item {
        margin-top: 16px;
        border: 1px solid #fcfcfc;
        border-radius: 6px;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
    
    .accordion-item .accordion-item-title {
        position: relative;
        margin: 0;
        display: flex;
        width: 100%;
        font-size: 15px;
        cursor: pointer;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 14px 20px;
        box-sizing: border-box;
        align-items: center;
    }
    
    .accordion-item .accordion-item-desc {
        display: none;
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: #444;
        border-top: 1px dashed #ddd;
        padding: 10px 20px 20px;
        box-sizing: border-box;
    }
    
    .accordion-item .accordion-item-desc b {
        color: #000 !important;
    }
    
    .accordion-item input[type="checkbox"] {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
    }
    
    .accordion-item input[type="checkbox"]:checked~.accordion-item-desc {
        display: block;
    }
    
    .accordion-item input[type="checkbox"]:checked~.accordion-item-title .icon:after {
        content: "-";
        font-size: 20px;
    }
    
    .accordion-item input[type="checkbox"]~.accordion-item-title .icon:after {
        content: "+";
        font-size: 20px;
    }
    
    .accordion-item:first-child {
        margin-top: 0;
    }
    
    .accordion-item .icon {
        margin-left: 14px;
    }
    
    @media screen and (max-width: 767px) {
        .accordion {
            padding: 0 16px;
        }
        .accordion h1 {
            font-size: 22px;
        }
    }
</style>