<!-- Footer Section -->
<div class="text-center" style=" padding-top: 20px;   margin-bottom: -20px;">
    <img src="/images/novagems-img/footerimg.png" alt="">
</div>
<footer id="footerseo" class="bgv2 footer">
    <div class="container">
        <div class="row ">
            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Products</h4>
                <ul>
                    <li><a href="/employee-scheduling"> Employee scheduling </a></li>
                    <li><a href="/time-tracking-and-attendance-management-software"> Time tracking & attendance </a></li>
                    <li><a href="/gps-tracking-and-geofencing"> GPS tracking & geofencing</a></li>
                    <li><a href="/task-management"> Task management </a></li>
                    <li><a href="/alerts-and-notifications"> Alerts and notifications</a></li>
                    <li><a href="/reporting-and-analytics"> Reporting and analytics</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Industries</h4>
                <ul>
                    <li><a href="/best-workforce-management-software"> Workforce management </a></li>
                    <li><a href="/workforce-management-for-security-company"> Security industry </a></li>
                    <li><a href="/cleaning-company-software"> Cleaning industry </a></li>
                    <li><a href="/healthcare"> Healthcare industry </a></li>
                    <li><a href="/retail-industry"> Retail industry </a></li>
                </ul>
            </div>

            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Resources</h4>
                <ul>
                    <li><a href="/blog"> Blog </a></li>
                    <li><a href="/information-centre"> Information centre </a></li>
                    <li><a href="/customer-stories"> Customer stories</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Support</h4>
                <ul>
                    <li><a href="https://meetings.hubspot.com/gurjot/free-trial-demo"> Request for a Demo</a></li>
                    <li><a href="/privacy-policy"> Privacy Policy </a></li>
                    <li><a href="/privacy"> Privacy </a></li>
                    <li><a href="/terms-and-conditions"> Terms and Conditions </a></li>
                    <li><a href="/faq"> FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row ">
            <!-- <div class="col-md-3 col-12">
                <ul>
                    <li><a class="display-grid" href="tel:+1-844-844-0038"><b>Let’s talk:</b> +1-844-844-0038</a></li>
                    <li><a class="display-grid" href="mailto:info@novagems.com"><b>Email:</b> info@novagems.com</a></li>
                    <li><a class="display-grid" href="tel:+1 604-628-7015"><b>Support 24/7:</b> +1 604-628-7015</a></li>
                    <li><a class="display-grid" href="mailto:support@novagems.com"><b>Support Email:</b> support@novagems.com</a></li>
                </ul>
            </div> -->
            <div class="col-md-3 col-12">
                <ul>

                    {{ if $.IsHome }}

                    <!-- ✅ SF PAGE : Worldwide + india -->
                     <li>
                        <a class="display-grid" href="tel:91 7743003441">
                            <b>Let’s talk India:</b> <br> +91 7743003441
                        </a>
                    </li>

                    <li>
                        <a class="display-grid" href="mailto:contact@novagems.in">
                            <b>Email India:</b><br> contact@novagems.in
                        </a>
                    </li>

                    
                    <li>
                        <a class="display-grid" href="tel:+1-604-628-7015">
                            <b>Support 24/7 Worldwide:</b><br> +1 604-628-7015
                        </a>
                    </li>

                    <li>
                        <a class="display-grid" href="mailto:support@novagems.com">
                            <b>Support Email Worldwide:</b><br> support@novagems.com
                        </a>
                    </li>

                    {{ else }}

                    <!-- ✅ ALL OTHER PAGES : Normal -->
                    <li>
                        <a class="display-grid" href="tel:+1-844-844-0038">
                            <b>Let’s talk:</b> +1-844-844-0038
                        </a>
                    </li>

                    <li>
                        <a class="display-grid" href="mailto:info@novagems.com">
                            <b>Email:</b> info@novagems.com
                        </a>
                    </li>

                    <li>
                        <a class="display-grid" href="tel:+1-604-628-7015">
                            <b>Support 24/7:</b> +1 604-628-7015
                        </a>
                    </li>

                    <li>
                        <a class="display-grid" href="mailto:support@novagems.com">
                            <b>Support Email:</b> support@novagems.com
                        </a>
                    </li>

                    {{ end }}

                </ul>
            </div>
            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Company</h4>
                <ul>
                    <li><a href="/about"> About Us </a></li>
                    <li><a href="/contact-us"> Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Follow Us</h4>
                <a href="https://twitter.com/NovagemsInc" target="blank"><img src="/images/novagems-img/novagemsv2/twitter.png" alt="facebook"> </a>
                <a href="https://www.facebook.com/www.novage.ms" target="blank"><img src="/images/novagems-img/novagemsv2/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/novagems.inc/ " target="blank"><img src="/images/novagems-img/novagemsv2/instagram.png" alt="Instagram"></a>
                <a href="https://www.linkedin.com/company/novagems-inc" target="blank"><img src="/images/novagems-img/novagemsv2/linkedin.png" alt="linkedin"></a>
            </div>

            <div class="col-md-3 col-12 playbtn">
                <div class="mb-3">
                    <a href="https://play.google.com/store/apps/developer?id=Novagems" target="blank"><img src="/images/novagems-img/playstore.png" alt="playstore"> </a>
                </div>
                <div>
                    <a href="https://apps.apple.com/in/developer/epitome-technologies/id1325518724" target="blank"><img src="/images/novagems-img/appstore.png" alt="playstore"> </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between  text-md-left">
            <div class="mb-2 mb-md-0">
               <a href="/"> <img class="footer-bt" src='{{ "/images/novagems-img/Logo.svg" | absURL }}' alt="Logo"></a>
            </div>
            <div>
                <p class="mb-0">© Copyright {{ now.Format "2006" }} Novagems.com Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- <footer id="footerseo" class="bgv2 footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-12">
                <img class="footer-bt" src='{{"/images/novagems-img/Logo.svg" | absURL }}' alt="Logo">
                <ul>
                    <li><a class="display-grid" href="tel:+1-844-844-0038"><b>Let’s talk:</b> +1-844-844-0038</a></li>
                    <li><a class="display-grid" href="mailto:info@novagems.com"><b>Email:</b> info@novagems.com</a></li>
                    <li><a class="display-grid" href="tel:+1 604-628-7015"><b>Support 24/7:</b> +1 604-628-7015</a></li>
                    <li><a class="display-grid" href="mailto:support@novagems.com"><b>Support Email:</b> support@novagems.com</a></li>
                </ul>
                <div>
                    <div style="float: left;">
                        <p><b>Follow us on:</b> </p>
                    </div>
                    <div class="social">
                        <a href="https://twitter.com/NovagemsInc" target="blank"><i class="fa-brands">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="currentColor">
                              <path d="M23.494 0h-5.9l-5.818 9.362L5.931 0H.4l8.398 12.167L.038 24h6.042l6.476-9.983L19.027 24h5.43l-8.837-12.212z"/>
                            </svg>
                          </i></a>
                        <a href="https://www.facebook.com/www.novage.ms" target="blank"><img src="/images/novagems-img/Facebook.svg" alt="facebook"></a>
                        <a href="https://www.instagram.com/novagems.inc/ " target="blank"><img src="/images/novagems-img/Instagram.svg" alt="Instagram"></a>
                        <a href="https://www.linkedin.com/company/novagems-inc" target="blank"><img src="/images/novagems-img/Linkedin.svg" alt="linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Scheduling Software</h4>
                <ul>
                    <li><a href="/scheduling">Employee Scheduling</a></li>
                    <li><a href="/gps-geofence">GPS & Geofencing</a></li>
                    <li><a href="/clock-in-out">Clock In/Out</a></li>
                    <li><a href="/task-mangement">Task Management</a></li>
                    <li><a href="/time-cost-analysis">Timesheet</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-12">
                <h4 class="footer-bt"> Security Company Software</h4>
                <ul>
                    <li><a href="/custom-incident-report">Custom Incident Report</a></li>
                    <li><a href="/checkpoint-tours">Checkpoint Tours</a></li>
                    <li><a href="/gps-tracking">GPS Tracking</a></li>
                    <li><a href="/mobile-patrol">Mobile Patrol</a></li>
                    <li><a href="/dashboard-analytics">Dashboard Analytics</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Cleaning Company</h4>
                <ul>
                    <li><a href="/maintenance-log-sheet">Maintenance Log Sheet</a></li>
                    <li><a href="/inspection-report">Inspection Report</a></li>
                    <li><a href="/work-order-management">Work Order Management</a></li>
                    <li><a href="/instructions-checklist">Instructions & Checklist</a></li>
                    <li><a href="/client-management">Client Management</a></li>
                </ul>
            </div>
        </div>

        <div class="row footer-2">
            <div class="col-md-3 col-12 ">
                <a href="#" type="button" data-toggle="modal" data-target="#refer-earn-form">
                    <img class="refer-a-friend" src="/images/novagems-img/refer-earn.svg" alt="refer-earn">
                </a>

                <div class="mt-4">

                </div>
            </div>
            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Company</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Learning</h4>
                <ul>
                    <li><a rel=preload href="/blog">Blog</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-12">
                <h4 class="footer-bt">Support</h4>
                <ul>
                    <li><a target="_blank" href="https://meetings.hubspot.com/gurjot/free-trial-demo">Request for a Demo </a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-2">
            <hr>
            <div class="row">
                <div class="col-md-8 col-12">
                    <p>© Copyright {{ now.Format "2006" }} Novagems.com Inc. All rights reserved.</p>

                </div>
                <div class="col-md-4 col-12">
                    <div>
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img style="width: 45%;" src="{{.image | absURL }}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer> -->
<!-- Footer Section -->

<!-- <div class="modal fade refe-earn-pop" id="refer-earn" tabindex="-1" role="dialog" aria-labelledby="refer-earnTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="amazon">
                <button type="button" class="close-blog" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <div class="mt-3">
                    <h1 class="text-center" id="refer-earnTitle">Refer <span style="color:#786ce6">Novagems</span><br>to a Friend and Earn $100 Amazon Gift Card!</h1>
                </div>
                <div class="modal-body text-center mt-3">
                    <img class="canada canada-flg" src="/images/novagems-img/100GiftCard.svg" alt="100GiftCard.svg">
                </div>
                <div class="refer-steps">
                    <div class="step-box">
                        <span class="refer-point">1</span>
                        <p class="point-1-2-3">Refer now</p>
                    </div>
                    <div class="step-box">
                        <span class="refer-point">2</span>
                        <p class="point-1-2-3">We will reach out + signup</p>
                    </div>
                    <div class="step-box">
                        <span class="refer-point">3</span>
                        <p class="point-1-2-3">Get $100 gift card via email</p>
                    </div>
                </div>
                <div class="refer-btn text-center">
                    <a type="button" class=" btn btn-default filter-button active" data-toggle="modal" data-target="#refer-earn-form" data-dismiss="modal" aria-label="Close">Refer Now</a>
                </div>

            </div>
        </div>
    </div>
</div> -->


<!-- Header Section Ends -->

<!-- <div class="modal fade refe-earn-pop refer-earn-form" id="refer-earn-form" tabindex="-1" role="dialog" aria-labelledby="refer-earnformTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="form-group">
                <button type="button" class="close-blog" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <form id="referEarn">
                    <div class="mt-3">
                        <h1 class="text-center" id="refer-earnTitle">Refer a friend</h1>
                    </div>

                    <div class="row refer-form-fields">
                        <div class="col-sm-12">
                            <h4>Referral's information</h4>
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Name<span>*</span></p>
                            <input id="referralName" type="text" name="referralName" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Email Address<span>*</span></p>
                            <input id="referralEmail" type="email" name="referralEmail" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Phone Number<span>*</span></p>
                            <input id="referralPhoneNo" type="tel" name="referralPhoneNo" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Company<span>*</span></p>
                            <input id="referralCompanyName" type="text" name="referralCompanyName" class="form-control" required />
                        </div>
                    </div>
                    <hr/>
                    <div class="row refer-form-fields">
                        <div class="col-sm-12">
                            <h4>Your information</h4>
                        </div>
                        <div class="col-sm-6">
                            <p>Your Name<span>*</span></p>
                            <input id="refereeName" type="text" name="refereeName" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Your Email Address<span>*</span></p>
                            <input id="refereeEmail" type="email" name="refereeEmail" class="form-control " required />
                        </div>
                        <div class="col-sm-6">
                            <p>Your Phone Number<span>*</span></p>
                            <input id="refereePhoneNo" type="tel" name="refereePhoneNo" class="form-control" required />
                        </div>

                    </div>

                    <div class="refer-btn text-center">
                        <input class="finish-btn" type="submit" value="Finish">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal fade refe-earn-pop refer-earn-form" id="refer-earn-form" tabindex="-1" role="dialog" aria-labelledby="refer-earnformTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="form-group">
                <button type="button" class="close-blog" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <form id="referEarn">
                    <div class="mt-3 text-center">
                        <h1 id="refer-earnTitle">Refer a friend</h1>
                        <h4 class="Refer-a-friend">Just fill out our Referral form to let us know who we should get in touch with, then your work is done! Sit back and relax</h4>
                    </div>

                    <div class="text-center mt-1 mb-1">
                        <img class="refer-img" src='{{"/images/novagems-img/refer.svg" | absURL }}' alt="refer">
                    </div>

                    <div class="row refer-form-fields">
                        <div class="col-sm-12">
                            <h4>Referral's information</h4>
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Name<span>*</span></p>
                            <input id="referralName" type="text" name="referralName" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Email Address<span>*</span></p>
                            <input id="referralEmail" type="email" name="referralEmail" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Phone Number<span>*</span></p>
                            <input id="referralPhoneNo" type="tel" name="referralPhoneNo" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Referral's Company<span>*</span></p>
                            <input id="referralCompanyName" type="text" name="referralCompanyName" class="form-control" required />
                        </div>
                    </div>
                    <hr/>
                    <div class="row refer-form-fields">
                        <div class="col-sm-12">
                            <h4>Your information</h4>
                        </div>
                        <div class="col-sm-6">
                            <p>Your Name<span>*</span></p>
                            <input id="refereeName" type="text" name="refereeName" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <p>Your Email Address<span>*</span></p>
                            <input id="refereeEmail" type="email" name="refereeEmail" class="form-control " required />
                        </div>
                        <div class="col-sm-6">
                            <p>Your Phone Number<span>*</span></p>
                            <input id="refereePhoneNo" type="tel" name="refereePhoneNo" class="form-control" required />
                        </div>

                    </div>

                    <div class="refer-btn text-center">
                        <input class="finish-btn" type="submit" value="Finish">
                        <div class="mt-2">
                            <a href="/refer-earn-terms-and-conditions" style="color: #786ce6;" target="_blank" class="terms-Privacy">Terms & conditions</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade refe-earn-pop refer-earn-form" id="refer-earn-thankyou" tabindex="-1" role="dialog" aria-labelledby="refer-earnformTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="amazon">
                <div class="mt-3">
                    <h1 class="text-center" id="refer-earnTitle">Thank you for submitting the form!</h1>
                    <p class="text-center">We've sent you an email with further information at the email address you provided.</p>
                </div>
                <div class="refer-btn text-center">
                    <a href="#" type="button" class=" btn btn-default filter-button active" data-dismiss="modal" aria-label="Close">Okay</a>
                </div>

            </div>
        </div>
    </div>
</div> -->


{{- partial "customer-stories-pop.html" . -}}


{{- partial "script.html" . -}}


</body>

</html>