<section class="mt-5 pb-5">
    <div class="container">
        <div class="clients-stories-bg">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="newlet">Start Managing Your Team Smarter – For Free</h2>
                </div>
                <div class="col-md-7 mx-auto">
                    <div class="footer-newsletter">
                        <form id="get-started-for-free">
                            <input type="email" id="email" name="email" placeholder="Enter your email address">
                            <input class="home-btn" type="submit" value="Get Started for Free">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>