<div class="container blogs-form ">
    <div class="row ">
        <div class="col-md-12 mb-5">
            <p id="demo" style="display: none;"></p>
            <div id="loginpage" class="clients-blog">
                <h6>Get a Free Trial</h6>

                <div class="row">
                    <div class="col-md-12">
                        <form id="Free-Trial"></form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    document.getElementById("demo").innerHTML =
        "Page hostname is: " + window.location.href;

    const url1 = "https://novagems.com/security-guard-id-why-you-need-it-and-how-to-create-it/"

    const demoElement = document.getElementById("demo");
    const loginPageElement = document.getElementById("loginpage");

    if (window.location.href == url1) {
        loginPageElement.style.display = "none";
    } else {
        loginPageElement.style.display = "block";
    }
</script>