<div class="mt-5 ">
    <div class="container-fluid nothours nothours2" id="newsletterpage">
        <div class="col-md-7 mx-auto ">
            <div class="text-center ">
                <h2 class="text-white pt-5 mb-4">Now scheduling takes minutes, not hours</h2>
                <div class="col-md-10 mx-auto ">
                    <div class="footer-newsletter">
                        <form id="get-started-for-free">
                            <input type="email" id="email" name="email" placeholder="Enter your email address">
                            <input class="home-btn" type="submit" value="Get Started for Free">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>