<!-- Home Grid Section -->
<div class="py-5">
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-md-12 mb-5 mt-5 text-center">
                <p class="subheading tex-h color1">WHY NOVAGEMS?</p>
                <h2 class="hero-h1">Power, Simplicity & Support</h2>

            </div>
        </div>

        <div class="row my-4">
            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/support-24.png" | absURL}}' alt="support-24"></figure>
                    <div>
                        <h5>24/7 <br> Support</h5>
                    </div>
                    <p>Get Round-The-Clock Assistance Whenever You Need It</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/free-trainings.png" | absURL}}' alt="free-trainings"></figure>
                    <div>
                        <h5>Free Training & Built-In <br> Learning Videos</h5>
                    </div>
                    <p>Seamless Onboarding With Step-By-Step Guides And In-App Tutorials.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Fast-implementation.png" | absURL}}' alt="Fast-implementation"></figure>
                    <div>
                        <h5>Fast <br> Implementation</h5>
                    </div>
                    <p>Set Up And Start Managing Your Workforce In No Time.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/novagemsv2/Custom-customization.png" | absURL}}' alt="Custom-customization"></figure>
                    <div>
                        <h5> Web & Mobile <br> Accessibility</h5>
                    </div>
                    <p>Manage Your Team Anytime, Anywhere With Our Mobile And Web Apps.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 ">
                <img src='{{"/images/novagems-img/customer-success.png" | absURL}}' alt="customer-success">
            </div>
            <div class="col-md-4">
                <img class="mb-3 phone-fast" src='{{"/images/novagems-img/Rectangle2.png" | absURL}}' alt="Rectangle2">
                <img class="phone-fast" src='{{"/images/novagems-img/Rectangle3.png" | absURL}}' alt="Rectangle3">
            </div>
        </div>
    </div> -->


    <div class=" container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="col-md-12 mt-5 mb-5 text-center ">
                    <h3 class="hero-h1">Employee Scheduling Software For Every Industry</h3>
                    <p>Built For Teams Of All Sizes, Novagems Helps Businesses Streamline Scheduling, Time Tracking, And Workforce <br> Management. See How Companies Like Yours Are Benefiting.</p>
                    <p><b>Read Real Stories From Novagems Customers</b></p>
                </div>
                <div class="col-md-12 input-p">
                    <div class=" mb-5 d-flex justify-content-center">
                        <ul id="tabs-business" class="nav nav-tabs ">
                            <li class="nav-item business-using"><a href="" data-target="#security-tab" data-toggle="tab" class="nav-link text-uppercase active tab-data">Security</a></li>
                            <li class="nav-item business-using"><a href="" data-target="#healthCare-tab" data-toggle="tab" class="nav-link text-uppercase ">Security Health Care </a></li>
                            <li class="nav-item business-using"><a href="" data-target="#cleaning-tab" data-toggle="tab" class="nav-link text-uppercase ">Security Cleaning </a></li>
                        </ul>
                    </div>

                    <br>
                    <div id="tabsContent" class="tab-content">
                        <div id="security-tab" class="top-phone tab-pane fade active show">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry1.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry2.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="healthCare-tab" class="top-phone tab-pane fade">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry1.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry2.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cleaning-tab" class="top-phone tab-pane fade">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry1.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 text-center" style="border-radius: 0px 0px 20px 20px;background: #FFF8E7 0% 0% no-repeat padding-box;">
                                        <img style="border-radius: 20px 20px 0px 0px; height: 200px;" src="/images/novagems-img/novagemsv2/Industry2.webp" alt="" />
                                        <h4 class="mt-2 f3 b lh-title mb1 primary">Boss Security </h4>
                                        <p class="mt-2 mb0">140 Employees</p>
                                        <br>
                                        <p class="link b dib black mb-5 color5 pb-3">Read Story</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="mt-5 mb-5 ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-12  mx-auto ">
                    <div class=" footer-newsletter footer-left ">
                        <form id="book_a_demo">
                            <input type="email" id="book-a-demo" name="book-a-demo" placeholder="Enter your email address">
                            <input type="submit" value="Book a Demo">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>






<!-- Home Grid Section Ends -->