{{ define "main" }}
<!-- <div>
    {{- partial "hero.html" . -}} {{- partial "access.html" . -}} {{- partial "services.html" . -}}
</div>
<div>
    {{- partial "howitswork.html" . -}} {{- partial "keysection.html" . -}} {{- partial "why.html" . -}}
</div>
<div>
    {{- partial "cta.html" . -}} {{- partial "blog.html" . -}}
</div>

<div>
    {{- partial "homefaq.html" . -}}
</div>

<div>
    {{- partial "resources.html" . -}}
</div> -->

<div>
    {{- partial "hero.html" . -}}
</div>
<script type="text/javascript">
    localStorage.clear();
</script>



{{end}}