{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="privacy-bg2">
        <div class="container">
            <div class="row align-items-center" style="padding-top: 90px;">
                <div class="col-md-7 mx-auto">
                    <figure><img src="/images/novagems-img/terms-and-conditions.svg" alt="terms-and-conditions"></figure>
                </div>
            </div>
        </div>


        <div class="container ">
            <div class="row ">
                <div class="col-md-10 offset-md-1 mb-5">
                    <div>
                        <h1 class="my-3">Terms and Conditions</h1>

                        <h4>Eligibility:</h4>
                        <p>The contest is open to all companies, and organizations from security, cleaning, healthcare or food industries.
                        </p>
                        <br>
                        <h4>Entry Requirements:</h4>
                        <p>The participants must choose the posts from the shared document on the webpage
                        </p>
                        <br>
                        <h4>Contest Duration:</h4>
                        <p>The contest ends on 15 February 2024</p>
                        <br>
                        <h4>Selection of Winners & Prizes:</h4>
                        <p>The selection of winners will be chosen on the basis of selected criteria.</p>
                        <ul>
                            <li>. Such as minimum 50 likes are mandatory to qualify</li>
                            <li>. The grand prize (for top 5 companies) includes 1 year free subscription for up to 20 guards. After that standard rates may apply.</li>
                            <li>. Next 10 will get the software at 75% Off</li>
                            <li>. The next 15 winners can use the software at 50% Off.</li>
                        </ul>
                        <br>
                        <h4>Rights to Content:</h4>
                        <p>By participating in the contest, participants get permission to use and share the content for the contest purposes. Novagems obtains the rights to use their posts for marketing efforts. However, Novagems retains ownership rights
                            to their original content.</p>
                        <br>
                        <h4>Fair Play and Ethics:</h4>
                        <p>Any attempts at manipulation, fraud, or unethical practices to gain an unfair advantage will result in disqualification. Use of bots to get maximum likes will also lead to disqualification. Multiple entries by the same participant
                            may not be allowed.</p>
                        <br>
                        <h4>Modification or Termination of Contest:</h4>
                        <p>The organizer reserves the right to modify, suspend, or terminate the contest at any time without prior notice if circumstances require. </p>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}