{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="scheduling-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top">
                <div class="col-lg-7 col-md-7 col-12 ">
                    <div>
                        <div>
                            <h1 class="hero-h1"><span class="color5">Introducing Novagems -</span> A New Generation Zenmaid Alternative</h1>
                            <p>Looking for a free alternative of Zenmaid to manage your cleaning services company? Try Novagems, a free cleaning company software</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/alternatives-zenmaid/Zenmaid-Alternative.svg" alt="Zenmaid-Alternative">
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">See for yourself why Novagems is a <br> better choice than Zenmaid
                    </h2>
                </div>
                <div class="col-md-12 mt-5">
                    <table class="table table-striped table-hover table-responsive table-fluid">
                        <thead>
                            <tr>
                                <th>Features</th>
                                <th class="text-center"><img src='{{ .Site.Params.logo | relURL}}' alt="logo "></th>
                                <th class="text-center">Zenmaid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>24*7 support</td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Rong.svg" alt="Rong"></td>
                            </tr>
                            <tr>
                                <td><b>Geofencing</b></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Rong.svg" alt="Rong"></td>
                            </tr>
                            <tr>
                                <td>Automated reminders</td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Rong.svg" alt="Rong"></td>
                            </tr>
                            <tr>
                                <td>Task management</td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Rong.svg" alt="Rong"></td>
                            </tr>
                            <tr>
                                <td>Free trial</td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                            </tr>
                            <tr>
                                <td>Mobile app</td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                            </tr>
                            <tr>
                                <td><b>Staff scheduling</b></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                            </tr>
                            <tr>
                                <td>Digital Timesheets & Checklists</td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Right.svg" alt="Right"></td>
                                <td class="text-center"><img src="/images/novagems-img/alternatives-zenmaid/Rong.svg" alt="Rong"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <h2>More Interesting Features of Novagems</h2>
                </div>
            </div>
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/alternatives-zenmaid/Real time notifications.svg" alt="Inspection-Report image"></figure>
                            <p class="clients-p">Real time notifications<br><br></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/alternatives-zenmaid/Digital timesheets.svg" alt="Maintenance-Log-Sheet image"></figure>
                            <p class="clients-p">Digital timesheets <br><br></p>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/alternatives-zenmaid/GPS Tracking.svg" alt="Estimate-icon image"></figure>
                            <p class="clients-p">GPS tracking

                                <br><br></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="clients text-center">
                            <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/alternatives-zenmaid/Custom Reports.svg" alt="Invoice-icon image"></figure>
                            <p class="clients-p">Custom reports
                                <br><br></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="mt-4 col-md-5 mx-auto">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/alternatives-zenmaid/Digital forms and.svg" alt="Timesheet image"></figure>
                        <p class="clients-p">Digital forms and checklists</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/alternatives-zenmaid/Time Tracking.svg" alt="Scheduling image"></figure>
                        <p class="clients-p">Time tracking<br><br></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-3">
                    <div class="clients text-center">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src="/images/novagems-img/alternatives-zenmaid/Easy training.svg" alt="Work-Order-Management image"></figure>
                        <p class="clients-p">Easy training and onboarding</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h5>Easy To Use Interface</h5>
                <p class="subheading color3">Because that is what’s trendy in 2024!</p>
                <p>No complicated interfaces, both for you and your employees. Designed for all of your needs and to meet the requirements of your deskless employees. This employee scheduling software is free of any added costs.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Check_Point_Tours">
                            <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/alternatives-zenmaid/Easy-To-Use-Interface.svg" alt="Schedule-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/alternatives-zenmaid/Effortless-Implementation.svg" alt="Schedule-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Effortless Implementation</h5>
                <p class="subheading color7">Shift all of your business management in just a few hours!</p>
                <p>Quick and smooth to learn and implement. No need for long and dragging calls to help your deskless workforce understand the process
                </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="GPS_Tracking">
                            <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>

    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>

<style>
    .table-responsive {
        display: table;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 0px solid #dee2e6;
    }
    
    .table td,
    .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 0px solid #dee2e6;
    }
</style>


{{end}}