{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="">
        <div class="container example">
            <div class="row header-subwrapper-top">
                <div class="col-lg-7 col-md-7 col-12 ">
                    <div>
                        <div>
                            <h1 class="hero-h1">Staff Scheduling Software to Simplify Shift Management</h1>
                            <p>Simplify shift planning with our labor scheduling software. Track attendance, reduce
                                overtime, and manage employees at scale. Best suited for multiple industries, including
                                security, cleaning, and facility management.
                            </p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email"
                                            placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Schedule-Management.png"
                        alt="employee schedule management dashboard">
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">Key Features of Novagems Staff Scheduling Software</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Scheduling/Schedule-1.png"
                            alt="real-time shift alerts labor scheduling software"></figure>
                </div>
                <div class="col-md-6">
                    <h3>Smart Shift Scheduling & Conflict-Free Planning</h3>
                    <h4 class="subheading color2">Fast & reliable shift planning assistance</h4>
                    <p>Build recurring or rotating schedules using templates, employee roles, and availability
                        preferences. The system automatically flags double-bookings, overtime risks, and compliance
                        violations, making your employee schedule management software workflow seamless and error-free
                    </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="custom_incident_report">
                                <input type="email" id="custom-incident-report" name="custom-incident-report"
                                    placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3>Open Shifts Management with Instant Alerts</h3>
                <h4 class="subheading color3">Keep your employee schedule management software error-free</h4>
                <p>Novagems helps you fill open shifts effortlessly. The system automatically identifies qualified
                    employees based on role, availability, and compliance rules, then notifies them instantly via mobile
                    alerts</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Check_Point_Tours">
                            <input type="email" id="Check-Point-Tours" name="Check-Point-Tours"
                                placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/Open Shifts.png" alt="Schedule-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/GPS Attendance with Geofencing & No-Show Alerts.png" alt="GPS attendance and geofencing">
                </figure>
            </div>
            <div class="col-md-6">
                <h3>GPS Attendance with Geofencing & No-Show Alerts</h3>
                <h4 class="subheading color7">Ensure accountability with built-in GPS-based clock-ins</h4>
                <p>Employees can only check in when they’re at the right site, reducing time theft. Missed check-ins or
                    late arrivals automatically trigger alerts, giving you time to assign backup staff, a must-have in
                    any reliable staff scheduling software.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="GPS_Tracking">
                            <input type="email" id="GPS-Tracking" name="GPS-Tracking"
                                placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h3>Mobile App for On-the-Go Access</h3>
                <h4 class="subheading color2">Ideal for mobile teams, field workers, and multi-site operations</h4>
                <p>The Novagems mobile app empowers your workforce. Employees can check schedules, receive shift
                    notifications, confirm attendance, and communicate, all from their phones. Managers can view
                    real-time attendance and approve changes on the move.</p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol"
                                placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/Mobile App for On-the-Go Access.png" alt="mobile app for staff scheduling">
                </figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/Reporting & Export for Payroll.png" alt="client reports and payroll">
                </figure>
            </div>
            <div class="col-md-6">
                <h3>Reporting & Export for Payroll</h3>
                <h4 class="subheading color7">Digital analysis of time & cost, engineered for excellence</h4>
                <p>Generate detailed shift reports, attendance logs, and labor summaries in PDF or CSV format. Easily
                    sync with payroll systems or HR tools to streamline end-of-week and end-of-month processing. These
                    reports add extra value to your labor scheduling software.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response"
                                placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <div class="container-fluid powerup py-5">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-4 text-center">
                    <h3 class="Start-being mb-4">
                        Power up with <br>
                        Staff Scheduling Software
                    </h3>
                    <div class="footer-newsletter">
                        <form id="get-started-for-free"
                            class="d-flex flex-column flex-md-row justify-content-center gap-2">
                            <input type="email" id="email" name="email" placeholder="Enter your email address"
                                class="form-control" required>
                            <input class="btn btn-primary home-btn" type="submit" value="Get Started for Free">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Managing-sec-rock">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 ">
                    <div class="testimonial-wrapper">
                        <div class="quote-left"><img
                                src="/images/novagems-img/novagemsv2/customer-stories/quote-left.png"
                                alt="Clock-In-Out"></div>
                        <div class="testimonial-container">
                            <div class="testimonial-text">
                                <p class="testimonial-message">
                                    “Managing 1,500 Guards Used To Be Overwhelming—Now, Scheduling Takes Minutes, Not
                                    Hours” <br> - Ozzie Zarai, CEO
                                </p>
                            </div>
                        </div>
                        <div class="quote-right"><img
                                src="/images/novagems-img/novagemsv2/customer-stories/quote-right.png"
                                alt="Clock-In-Out"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {{- partial "cta.html" . -}}
    </div>
 <div> {{- partial "faq.html" . -}}</div>
    <div>
        {{- partial "resources.html" . -}}
    </div>




</div>


{{end}}