{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="time-cost-analysis-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1"><span class="color5">Take Care Of Employee Satisfaction </span> While Managing Your Operations Seamlessly </h1>
                            <p> With smart scheduling make sure that an employee never has to miss out</p>
                            <p>Leave and Time Off Management: Streamline Requests and Scheduling</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Timesheet.png" alt="Timesheet">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center  mt-5">
                    <h2 class="color4">Maintain A Healthy Workplace Environment</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-1.png" alt="Time&cost-analysis-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Break In And Out</h5>
                    <p class="subheading color2">Encourage timely breaks</p>
                    <p>Encourage staff breaks for better productivity and job satisfaction. Let employees decide their own breaks, paid or unpaid, to reduce stress and burnout. Prioritize mental health, avoid round-the-clock work, and track hours and breaks
                        simultaneously. Regular breaks increase satisfaction and retention. </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5> Vacation Planning</h5>
                <p class="subheading color3">Rest without any stress</p>
                <p>Ensure worry-free vacations for your employees. Our system simplifies long leave applications without hassle. Stay informed with instant alerts for leave requests. Easily manage and track leave records, employee absences, and granted leaves.
                    Say goodbye to juggling applications with our streamlined solution.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-2.png" alt="Time&cost-analysis-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-3.png" alt="Time&cost-analysis-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Avoid Scheduling Conflicts</h5>
                <p class="subheading color7">Let the system worry about the shift conflicts!</p>
                <p>Enhance operations by avoiding scheduling employees on leave. Our software provides automatic alerts for scheduling conflicts, preventing understaffing. Ensure the right employees with the required skills are in the right place at the
                    right time. Simplify operations with our efficient solution for a better work environment.
                </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Staff Foretelling</h5>
                <p class="subheading color2">Plan ahead without any miscalculations</p>
                <p>Smoothly calculate the required amount of staff needed during the shift hours. Avoid burdening the staff by presenting a pre-planned schedule with the right staff at the right place. The system tells you when an employee is not available,
                    by showing you a scheduling conflict.</p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Dashboard_Analytics">
                            <input type="email" id="Dashboard-Analytics" name="Dashboard-Analytics" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-3.png" alt="Task-Management-3"></figure>
            </div>
        </div>
    </div>

    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}