{{ define "main" }}
<!-- schedule Section -->
<div style="background-color: #fff;">
    <div class="linked-pt">
        <div class="us-bg2 pb-5">
            <div class="container">
                <div class="row us-header-subwrapper-top ">
                    <div class="col-lg-6 col-md-6 col-12 ">
                        <div>
                            <div>
                                <h1 class="linked-h1 us-text">Advanced Guard Management Solution for Security Companies! </h1>
                                <p class="us-text">Novagems - A New-Age Workforce Management System that security companies can count on! </p>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6 col-md-6 col-12 ">
                                    <p class="us-text"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Reporting & Timesheet</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 canada-phone-top">
                                    <p class="us-text"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Checkpoint Tours</p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6 col-md-6 col-12 ">
                                    <p class="us-text"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Guard Tracking</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 canada-phone-top">
                                    <p class="us-text"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Custom Incident Reports</p>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-lg-9 col-md-11 col-12">
                                    <div class="footer-newsletter">
                                        <form id="get-started-for-free">
                                            <input type="email" id="email" name="email" placeholder="Enter your email address">
                                            <input class="home-btn" type="submit" value="Get Started for Free">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-1 col-12"></div>
                            </div>
                            <div class="mt-5 mb-5">
                                {{- partial "clientsus.html" . -}}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 us-page-bkg ">
                        <div class="clients-blog us-trial-form">
                            <form id="us-free-trial-form"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: #fafbfc">
        <div class="container pt-5 pb-5">
            <div class="col-md-10 mx-auto text-center">
                <p>With Novagems, ditch the age-old manual time-keeping and workforce management practices and embrace the goodness of technology.</p>
                <p>Our security guard management system comes loaded with advanced features that make the work of security guards and managers easy! Browse further to learn more about these features: </p>
            </div>
            <div class="mt-5">
                <figure><img src="/images/novagems-img/us-img-2.png" alt="us-img-2"></figure>

            </div>
        </div>
    </div>





    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Novagems - Make Work Easy for Security Guards</h5>
                <p class="subheading color2">The progressive design of Novagems is easy to understand and use by the security guards with features like</p>
                <p class="mt-3"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Interactive dashboard</p>
                <p class="mt-3"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> One-touch clock in and out </p>
                <p class="mt-3"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Timesheets and log management</p>
                <p class="mt-3"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Smart alerts and communication</p>

                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/us-img-3.png" alt="us-img-3"></figure>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container mt-5 p-0" style="background-color: #F3FAF3;">
            <div class="col-md-10 mx-auto text-center pt-4">
                <h2>Novagems - automated, real-time solution for security
                    <br>guard management
                </h2>
                <p>Our software has helped many security companies achieve and implement smooth workflow and communication among teams.</p>
                <p>No special training is required, yet Novagems will provide you with training sessions if needed.</p>
            </div>
            <div class="mt-5 ">
                <figure><img src="/images/novagems-img/us-img-4.png" alt="us-img-4"></figure>

            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/us-img-5.png" alt="us-img-5"></figure>
            </div>
            <div class="col-md-6">
                <h5>Security Managers can Have a Lot of Free Time at Hand - Thanks to Novagems</h5>
                <p class="subheading color7">Automate and digitize all your manual tasks and make security guard management less time-consuming with features like</p>
                <p class="mt-3" style="display: flex;"><img style="width: 35px;height: 35px;" class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Automated schedule creation with easy-to-edit templates</p>
                <p class="mt-3"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Data collection and analysis are easy as data is saved within the system </p>
                <p class="mt-3"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> Easy to calculate workable hours, payrolls, and keep track of timesheets
                </p>
                <p class="mt-3"><img class="canada-img" src="/images/novagems-img/tike.png" alt="tike"> GPS-based guard tracking and geofencing make supervision easy</p>

                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>

    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}